.bg-red50 {
    background-color: #ffebee;
}

.font-red50 {
    color: #ffebee;
}

.bg-red100 {
    background-color: #ffcdd2;
}

.font-red100 {
    color: #ffcdd2;
}

.bg-red200 {
    background-color: #ef9a9a;
}

.font-red200 {
    color: #ef9a9a;
}

.bg-red300 {
    background-color: #e57373;
}

.font-red300 {
    color: #e57373;
}

.bg-red400 {
    background-color: #ef5350;
}

.font-red400 {
    color: #ef5350;
}

.bg-red500 {
    background-color: #f44336;
}

.font-red500 {
    color: #f44336;
}

.bg-red600 {
    background-color: #e53935;
}

.font-red600 {
    color: #e53935;
}

.bg-red700 {
    background-color: #d32f2f;
}

.font-red700 {
    color: #d32f2f;
}

.bg-red800 {
    background-color: #c62828;
}

.font-red800 {
    color: #c62828;
}

.bg-red900 {
    background-color: #b71c1c;
}

.font-red900 {
    color: #b71c1c;
}

.bg-redA100 {
    background-color: #ff8a80;
}

.font-redA100 {
    color: #ff8a80;
}

.bg-redA200 {
    background-color: #ff5252;
}

.font-redA200 {
    color: #ff5252;
}

.bg-redA400 {
    background-color: #ff1744;
}

.font-redA400 {
    color: #ff1744;
}

.bg-redA700 {
    background-color: #d50000;
}

.font-redA700 {
    color: #d50000;
}

.bg-pink50 {
    background-color: #fce4ec;
}

.font-pink50 {
    color: #fce4ec;
}

.bg-pink100 {
    background-color: #f8bbd0;
}

.font-pink100 {
    color: #f8bbd0;
}

.bg-pink200 {
    background-color: #f48fb1;
}

.font-pink200 {
    color: #f48fb1;
}

.bg-pink300 {
    background-color: #f06292;
}

.font-pink300 {
    color: #f06292;
}

.bg-pink400 {
    background-color: #ec407a;
}

.font-pink400 {
    color: #ec407a;
}

.bg-pink500 {
    background-color: #e91e63;
}

.font-pink500 {
    color: #e91e63;
}

.bg-pink600 {
    background-color: #d81b60;
}

.font-pink600 {
    color: #d81b60;
}

.bg-pink700 {
    background-color: #c2185b;
}

.font-pink700 {
    color: #c2185b;
}

.bg-pink800 {
    background-color: #ad1457;
}

.font-pink800 {
    color: #ad1457;
}

.bg-pink900 {
    background-color: #880e4f;
}

.font-pink900 {
    color: #880e4f;
}

.bg-pinkA100 {
    background-color: #ff80ab;
}

.font-pinkA100 {
    color: #ff80ab;
}

.bg-pinkA200 {
    background-color: #ff4081;
}

.font-pinkA200 {
    color: #ff4081;
}

.bg-pinkA400 {
    background-color: #f50057;
}

.font-pinkA400 {
    color: #f50057;
}

.bg-pinkA700 {
    background-color: #c51162;
}

.font-pinkA700 {
    color: #c51162;
}

.bg-purple50 {
    background-color: #f3e5f5;
}

.font-purple50 {
    color: #f3e5f5;
}

.bg-purple100 {
    background-color: #e1bee7;
}

.font-purple100 {
    color: #e1bee7;
}

.bg-purple200 {
    background-color: #ce93d8;
}

.font-purple200 {
    color: #ce93d8;
}

.bg-purple300 {
    background-color: #ba68c8;
}

.font-purple300 {
    color: #ba68c8;
}

.bg-purple400 {
    background-color: #ab47bc;
}

.font-purple400 {
    color: #ab47bc;
}

.bg-purple500 {
    background-color: #9c27b0;
}

.font-purple500 {
    color: #9c27b0;
}

.bg-purple600 {
    background-color: #8e24aa;
}

.font-purple600 {
    color: #8e24aa;
}

.bg-purple700 {
    background-color: #7b1fa2;
}

.font-purple700 {
    color: #7b1fa2;
}

.bg-purple800 {
    background-color: #6a1b9a;
}

.font-purple800 {
    color: #6a1b9a;
}

.bg-purple900 {
    background-color: #4a148c;
}

.font-purple900 {
    color: #4a148c;
}

.bg-purpleA100 {
    background-color: #ea80fc;
}

.font-purpleA100 {
    color: #ea80fc;
}

.bg-purpleA200 {
    background-color: #e040fb;
}

.font-purpleA200 {
    color: #e040fb;
}

.bg-purpleA400 {
    background-color: #d500f9;
}

.font-purpleA400 {
    color: #d500f9;
}

.bg-purpleA700 {
    background-color: #aa00ff;
}

.font-purpleA700 {
    color: #aa00ff;
}

.bg-deepPurple50 {
    background-color: #ede7f6;
}

.font-deepPurple50 {
    color: #ede7f6;
}

.bg-deepPurple100 {
    background-color: #d1c4e9;
}

.font-deepPurple100 {
    color: #d1c4e9;
}

.bg-deepPurple200 {
    background-color: #b39ddb;
}

.font-deepPurple200 {
    color: #b39ddb;
}

.bg-deepPurple300 {
    background-color: #9575cd;
}

.font-deepPurple300 {
    color: #9575cd;
}

.bg-deepPurple400 {
    background-color: #7e57c2;
}

.font-deepPurple400 {
    color: #7e57c2;
}

.bg-deepPurple500 {
    background-color: #673ab7;
}

.font-deepPurple500 {
    color: #673ab7;
}

.bg-deepPurple600 {
    background-color: #5e35b1;
}

.font-deepPurple600 {
    color: #5e35b1;
}

.bg-deepPurple700 {
    background-color: #512da8;
}

.font-deepPurple700 {
    color: #512da8;
}

.bg-deepPurple800 {
    background-color: #4527a0;
}

.font-deepPurple800 {
    color: #4527a0;
}

.bg-deepPurple900 {
    background-color: #311b92;
}

.font-deepPurple900 {
    color: #311b92;
}

.bg-deepPurpleA100 {
    background-color: #b388ff;
}

.font-deepPurpleA100 {
    color: #b388ff;
}

.bg-deepPurpleA200 {
    background-color: #7c4dff;
}

.font-deepPurpleA200 {
    color: #7c4dff;
}

.bg-deepPurpleA400 {
    background-color: #651fff;
}

.font-deepPurpleA400 {
    color: #651fff;
}

.bg-deepPurpleA700 {
    background-color: #6200ea;
}

.font-deepPurpleA700 {
    color: #6200ea;
}

.bg-indigo50 {
    background-color: #e8eaf6;
}

.font-indigo50 {
    color: #e8eaf6;
}

.bg-indigo100 {
    background-color: #c5cae9;
}

.font-indigo100 {
    color: #c5cae9;
}

.bg-indigo200 {
    background-color: #9fa8da;
}

.font-indigo200 {
    color: #9fa8da;
}

.bg-indigo300 {
    background-color: #7986cb;
}

.font-indigo300 {
    color: #7986cb;
}

.bg-indigo400 {
    background-color: #5c6bc0;
}

.font-indigo400 {
    color: #5c6bc0;
}

.bg-indigo500 {
    background-color: #3f51b5;
}

.font-indigo500 {
    color: #3f51b5;
}

.bg-indigo600 {
    background-color: #3949ab;
}

.font-indigo600 {
    color: #3949ab;
}

.bg-indigo700 {
    background-color: #303f9f;
}

.font-indigo700 {
    color: #303f9f;
}

.bg-indigo800 {
    background-color: #283593;
}

.font-indigo800 {
    color: #283593;
}

.bg-indigo900 {
    background-color: #1a237e;
}

.font-indigo900 {
    color: #1a237e;
}

.bg-indigoA100 {
    background-color: #8c9eff;
}

.font-indigoA100 {
    color: #8c9eff;
}

.bg-indigoA200 {
    background-color: #536dfe;
}

.font-indigoA200 {
    color: #536dfe;
}

.bg-indigoA400 {
    background-color: #3d5afe;
}

.font-indigoA400 {
    color: #3d5afe;
}

.bg-indigoA700 {
    background-color: #304ffe;
}

.font-indigoA700 {
    color: #304ffe;
}

.bg-blue50 {
    background-color: #e3f2fd;
}

.font-blue50 {
    color: #e3f2fd;
}

.bg-blue100 {
    background-color: #bbdefb;
}

.font-blue100 {
    color: #bbdefb;
}

.bg-blue200 {
    background-color: #90caf9;
}

.font-blue200 {
    color: #90caf9;
}

.bg-blue300 {
    background-color: #64b5f6;
}

.font-blue300 {
    color: #64b5f6;
}

.bg-blue400 {
    background-color: #42a5f5;
}

.font-blue400 {
    color: #42a5f5;
}

.bg-blue500 {
    background-color: #2196f3;
}

.font-blue500 {
    color: #2196f3;
}

.bg-blue600 {
    background-color: #1e88e5;
}

.font-blue600 {
    color: #1e88e5;
}

.bg-blue700 {
    background-color: #1976d2;
}

.font-blue700 {
    color: #1976d2;
}

.bg-blue800 {
    background-color: #1565c0;
}

.font-blue800 {
    color: #1565c0;
}

.bg-blue900 {
    background-color: #0d47a1;
}

.font-blue900 {
    color: #0d47a1;
}

.bg-blueA100 {
    background-color: #82b1ff;
}

.font-blueA100 {
    color: #82b1ff;
}

.bg-blueA200 {
    background-color: #448aff;
}

.font-blueA200 {
    color: #448aff;
}

.bg-blueA400 {
    background-color: #2979ff;
}

.font-blueA400 {
    color: #2979ff;
}

.bg-blueA700 {
    background-color: #2962ff;
}

.font-blueA700 {
    color: #2962ff;
}

.bg-lightBlue50 {
    background-color: #e1f5fe;
}

.font-lightBlue50 {
    color: #e1f5fe;
}

.bg-lightBlue100 {
    background-color: #b3e5fc;
}

.font-lightBlue100 {
    color: #b3e5fc;
}

.bg-lightBlue200 {
    background-color: #81d4fa;
}

.font-lightBlue200 {
    color: #81d4fa;
}

.bg-lightBlue300 {
    background-color: #4fc3f7;
}

.font-lightBlue300 {
    color: #4fc3f7;
}

.bg-lightBlue400 {
    background-color: #29b6f6;
}

.font-lightBlue400 {
    color: #29b6f6;
}

.bg-lightBlue500 {
    background-color: #03a9f4;
}

.font-lightBlue500 {
    color: #03a9f4;
}

.bg-lightBlue600 {
    background-color: #039be5;
}

.font-lightBlue600 {
    color: #039be5;
}

.bg-lightBlue700 {
    background-color: #0288d1;
}

.font-lightBlue700 {
    color: #0288d1;
}

.bg-lightBlue800 {
    background-color: #0277bd;
}

.font-lightBlue800 {
    color: #0277bd;
}

.bg-lightBlue900 {
    background-color: #01579b;
}

.font-lightBlue900 {
    color: #01579b;
}

.bg-lightBlueA100 {
    background-color: #80d8ff;
}

.font-lightBlueA100 {
    color: #80d8ff;
}

.bg-lightBlueA200 {
    background-color: #40c4ff;
}

.font-lightBlueA200 {
    color: #40c4ff;
}

.bg-lightBlueA400 {
    background-color: #00b0ff;
}

.font-lightBlueA400 {
    color: #00b0ff;
}

.bg-lightBlueA700 {
    background-color: #0091ea;
}

.font-lightBlueA700 {
    color: #0091ea;
}

.bg-cyan50 {
    background-color: #e0f7fa;
}

.font-cyan50 {
    color: #e0f7fa;
}

.bg-cyan100 {
    background-color: #b2ebf2;
}

.font-cyan100 {
    color: #b2ebf2;
}

.bg-cyan200 {
    background-color: #80deea;
}

.font-cyan200 {
    color: #80deea;
}

.bg-cyan300 {
    background-color: #4dd0e1;
}

.font-cyan300 {
    color: #4dd0e1;
}

.bg-cyan400 {
    background-color: #26c6da;
}

.font-cyan400 {
    color: #26c6da;
}

.bg-cyan500 {
    background-color: #00bcd4;
}

.font-cyan500 {
    color: #00bcd4;
}

.bg-cyan600 {
    background-color: #00acc1;
}

.font-cyan600 {
    color: #00acc1;
}

.bg-cyan700 {
    background-color: #0097a7;
}

.font-cyan700 {
    color: #0097a7;
}

.bg-cyan800 {
    background-color: #00838f;
}

.font-cyan800 {
    color: #00838f;
}

.bg-cyan900 {
    background-color: #006064;
}

.font-cyan900 {
    color: #006064;
}

.bg-cyanA100 {
    background-color: #84ffff;
}

.font-cyanA100 {
    color: #84ffff;
}

.bg-cyanA200 {
    background-color: #18ffff;
}

.font-cyanA200 {
    color: #18ffff;
}

.bg-cyanA400 {
    background-color: #00e5ff;
}

.font-cyanA400 {
    color: #00e5ff;
}

.bg-cyanA700 {
    background-color: #00b8d4;
}

.font-cyanA700 {
    color: #00b8d4;
}

.bg-teal50 {
    background-color: #e0f2f1;
}

.font-teal50 {
    color: #e0f2f1;
}

.bg-teal100 {
    background-color: #b2dfdb;
}

.font-teal100 {
    color: #b2dfdb;
}

.bg-teal200 {
    background-color: #80cbc4;
}

.font-teal200 {
    color: #80cbc4;
}

.bg-teal300 {
    background-color: #4db6ac;
}

.font-teal300 {
    color: #4db6ac;
}

.bg-teal400 {
    background-color: #26a69a;
}

.font-teal400 {
    color: #26a69a;
}

.bg-teal500 {
    background-color: #009688;
}

.font-teal500 {
    color: #009688;
}

.bg-teal600 {
    background-color: #00897b;
}

.font-teal600 {
    color: #00897b;
}

.bg-teal700 {
    background-color: #00796b;
}

.font-teal700 {
    color: #00796b;
}

.bg-teal800 {
    background-color: #00695c;
}

.font-teal800 {
    color: #00695c;
}

.bg-teal900 {
    background-color: #004d40;
}

.font-teal900 {
    color: #004d40;
}

.bg-tealA100 {
    background-color: #a7ffeb;
}

.font-tealA100 {
    color: #a7ffeb;
}

.bg-tealA200 {
    background-color: #64ffda;
}

.font-tealA200 {
    color: #64ffda;
}

.bg-tealA400 {
    background-color: #1de9b6;
}

.font-tealA400 {
    color: #1de9b6;
}

.bg-tealA700 {
    background-color: #00bfa5;
}

.font-tealA700 {
    color: #00bfa5;
}

.bg-green50 {
    background-color: #e8f5e9;
}

.font-green50 {
    color: #e8f5e9;
}

.bg-green100 {
    background-color: #c8e6c9;
}

.font-green100 {
    color: #c8e6c9;
}

.bg-green200 {
    background-color: #a5d6a7;
}

.font-green200 {
    color: #a5d6a7;
}

.bg-green300 {
    background-color: #81c784;
}

.font-green300 {
    color: #81c784;
}

.bg-green400 {
    background-color: #66bb6a;
}

.font-green400 {
    color: #66bb6a;
}

.bg-green500 {
    background-color: #4caf50;
}

.font-green500 {
    color: #4caf50;
}

.bg-green600 {
    background-color: #43a047;
}

.font-green600 {
    color: #43a047;
}

.bg-green700 {
    background-color: #388e3c;
}

.font-green700 {
    color: #388e3c;
}

.bg-green800 {
    background-color: #2e7d32;
}

.font-green800 {
    color: #2e7d32;
}

.bg-green900 {
    background-color: #1b5e20;
}

.font-green900 {
    color: #1b5e20;
}

.bg-greenA100 {
    background-color: #b9f6ca;
}

.font-greenA100 {
    color: #b9f6ca;
}

.bg-greenA200 {
    background-color: #69f0ae;
}

.font-greenA200 {
    color: #69f0ae;
}

.bg-greenA400 {
    background-color: #00e676;
}

.font-greenA400 {
    color: #00e676;
}

.bg-greenA700 {
    background-color: #00c853;
}

.font-greenA700 {
    color: #00c853;
}

.bg-lightGreen50 {
    background-color: #f1f8e9;
}

.font-lightGreen50 {
    color: #f1f8e9;
}

.bg-lightGreen100 {
    background-color: #dcedc8;
}

.font-lightGreen100 {
    color: #dcedc8;
}

.bg-lightGreen200 {
    background-color: #c5e1a5;
}

.font-lightGreen200 {
    color: #c5e1a5;
}

.bg-lightGreen300 {
    background-color: #aed581;
}

.font-lightGreen300 {
    color: #aed581;
}

.bg-lightGreen400 {
    background-color: #9ccc65;
}

.font-lightGreen400 {
    color: #9ccc65;
}

.bg-lightGreen500 {
    background-color: #8bc34a;
}

.font-lightGreen500 {
    color: #8bc34a;
}

.bg-lightGreen600 {
    background-color: #7cb342;
}

.font-lightGreen600 {
    color: #7cb342;
}

.bg-lightGreen700 {
    background-color: #689f38;
}

.font-lightGreen700 {
    color: #689f38;
}

.bg-lightGreen800 {
    background-color: #558b2f;
}

.font-lightGreen800 {
    color: #558b2f;
}

.bg-lightGreen900 {
    background-color: #33691e;
}

.font-lightGreen900 {
    color: #33691e;
}

.bg-lightGreenA100 {
    background-color: #ccff90;
}

.font-lightGreenA100 {
    color: #ccff90;
}

.bg-lightGreenA200 {
    background-color: #b2ff59;
}

.font-lightGreenA200 {
    color: #b2ff59;
}

.bg-lightGreenA400 {
    background-color: #76ff03;
}

.font-lightGreenA400 {
    color: #76ff03;
}

.bg-lightGreenA700 {
    background-color: #64dd17;
}

.font-lightGreenA700 {
    color: #64dd17;
}

.bg-lime50 {
    background-color: #f9fbe7;
}

.font-lime50 {
    color: #f9fbe7;
}

.bg-lime100 {
    background-color: #f0f4c3;
}

.font-lime100 {
    color: #f0f4c3;
}

.bg-lime200 {
    background-color: #e6ee9c;
}

.font-lime200 {
    color: #e6ee9c;
}

.bg-lime300 {
    background-color: #dce775;
}

.font-lime300 {
    color: #dce775;
}

.bg-lime400 {
    background-color: #d4e157;
}

.font-lime400 {
    color: #d4e157;
}

.bg-lime500 {
    background-color: #cddc39;
}

.font-lime500 {
    color: #cddc39;
}

.bg-lime600 {
    background-color: #c0ca33;
}

.font-lime600 {
    color: #c0ca33;
}

.bg-lime700 {
    background-color: #afb42b;
}

.font-lime700 {
    color: #afb42b;
}

.bg-lime800 {
    background-color: #9e9d24;
}

.font-lime800 {
    color: #9e9d24;
}

.bg-lime900 {
    background-color: #827717;
}

.font-lime900 {
    color: #827717;
}

.bg-limeA100 {
    background-color: #f4ff81;
}

.font-limeA100 {
    color: #f4ff81;
}

.bg-limeA200 {
    background-color: #eeff41;
}

.font-limeA200 {
    color: #eeff41;
}

.bg-limeA400 {
    background-color: #c6ff00;
}

.font-limeA400 {
    color: #c6ff00;
}

.bg-limeA700 {
    background-color: #aeea00;
}

.font-limeA700 {
    color: #aeea00;
}

.bg-yellow50 {
    background-color: #fffde7;
}

.font-yellow50 {
    color: #fffde7;
}

.bg-yellow100 {
    background-color: #fff9c4;
}

.font-yellow100 {
    color: #fff9c4;
}

.bg-yellow200 {
    background-color: #fff59d;
}

.font-yellow200 {
    color: #fff59d;
}

.bg-yellow300 {
    background-color: #fff176;
}

.font-yellow300 {
    color: #fff176;
}

.bg-yellow400 {
    background-color: #ffee58;
}

.font-yellow400 {
    color: #ffee58;
}

.bg-yellow500 {
    background-color: #ffeb3b;
}

.font-yellow500 {
    color: #ffeb3b;
}

.bg-yellow600 {
    background-color: #fdd835;
}

.font-yellow600 {
    color: #fdd835;
}

.bg-yellow700 {
    background-color: #fbc02d;
}

.font-yellow700 {
    color: #fbc02d;
}

.bg-yellow800 {
    background-color: #f9a825;
}

.font-yellow800 {
    color: #f9a825;
}

.bg-yellow900 {
    background-color: #f57f17;
}

.font-yellow900 {
    color: #f57f17;
}

.bg-yellowA100 {
    background-color: #ffff8d;
}

.font-yellowA100 {
    color: #ffff8d;
}

.bg-yellowA200 {
    background-color: #ffff00;
}

.font-yellowA200 {
    color: #ffff00;
}

.bg-yellowA400 {
    background-color: #ffea00;
}

.font-yellowA400 {
    color: #ffea00;
}

.bg-yellowA700 {
    background-color: #ffd600;
}

.font-yellowA700 {
    color: #ffd600;
}

.bg-amber50 {
    background-color: #fff8e1;
}

.font-amber50 {
    color: #fff8e1;
}

.bg-amber100 {
    background-color: #ffecb3;
}

.font-amber100 {
    color: #ffecb3;
}

.bg-amber200 {
    background-color: #ffe082;
}

.font-amber200 {
    color: #ffe082;
}

.bg-amber300 {
    background-color: #ffd54f;
}

.font-amber300 {
    color: #ffd54f;
}

.bg-amber400 {
    background-color: #ffca28;
}

.font-amber400 {
    color: #ffca28;
}

.bg-amber500 {
    background-color: #ffc107;
}

.font-amber500 {
    color: #ffc107;
}

.bg-amber600 {
    background-color: #ffb300;
}

.font-amber600 {
    color: #ffb300;
}

.bg-amber700 {
    background-color: #ffa000;
}

.font-amber700 {
    color: #ffa000;
}

.bg-amber800 {
    background-color: #ff8f00;
}

.font-amber800 {
    color: #ff8f00;
}

.bg-amber900 {
    background-color: #ff6f00;
}

.font-amber900 {
    color: #ff6f00;
}

.bg-amberA100 {
    background-color: #ffe57f;
}

.font-amberA100 {
    color: #ffe57f;
}

.bg-amberA200 {
    background-color: #ffd740;
}

.font-amberA200 {
    color: #ffd740;
}

.bg-amberA400 {
    background-color: #ffc400;
}

.font-amberA400 {
    color: #ffc400;
}

.bg-amberA700 {
    background-color: #ffab00;
}

.font-amberA700 {
    color: #ffab00;
}

.bg-orange50 {
    background-color: #fff3e0;
}

.font-orange50 {
    color: #fff3e0;
}

.bg-orange100 {
    background-color: #ffe0b2;
}

.font-orange100 {
    color: #ffe0b2;
}

.bg-orange200 {
    background-color: #ffcc80;
}

.font-orange200 {
    color: #ffcc80;
}

.bg-orange300 {
    background-color: #ffb74d;
}

.font-orange300 {
    color: #ffb74d;
}

.bg-orange400 {
    background-color: #ffa726;
}

.font-orange400 {
    color: #ffa726;
}

.bg-orange500 {
    background-color: #ff9800;
}

.font-orange500 {
    color: #ff9800;
}

.bg-orange600 {
    background-color: #fb8c00;
}

.font-orange600 {
    color: #fb8c00;
}

.bg-orange700 {
    background-color: #f57c00;
}

.font-orange700 {
    color: #f57c00;
}

.bg-orange800 {
    background-color: #ef6c00;
}

.font-orange800 {
    color: #ef6c00;
}

.bg-orange900 {
    background-color: #e65100;
}

.font-orange900 {
    color: #e65100;
}

.bg-orangeA100 {
    background-color: #ffd180;
}

.font-orangeA100 {
    color: #ffd180;
}

.bg-orangeA200 {
    background-color: #ffab40;
}

.font-orangeA200 {
    color: #ffab40;
}

.bg-orangeA400 {
    background-color: #ff9100;
}

.font-orangeA400 {
    color: #ff9100;
}

.bg-orangeA700 {
    background-color: #ff6d00;
}

.font-orangeA700 {
    color: #ff6d00;
}

.bg-deepOrange50 {
    background-color: #fbe9e7;
}

.font-deepOrange50 {
    color: #fbe9e7;
}

.bg-deepOrange100 {
    background-color: #ffccbc;
}

.font-deepOrange100 {
    color: #ffccbc;
}

.bg-deepOrange200 {
    background-color: #ffab91;
}

.font-deepOrange200 {
    color: #ffab91;
}

.bg-deepOrange300 {
    background-color: #ff8a65;
}

.font-deepOrange300 {
    color: #ff8a65;
}

.bg-deepOrange400 {
    background-color: #ff7043;
}

.font-deepOrange400 {
    color: #ff7043;
}

.bg-deepOrange500 {
    background-color: #ff5722;
}

.font-deepOrange500 {
    color: #ff5722;
}

.bg-deepOrange600 {
    background-color: #f4511e;
}

.font-deepOrange600 {
    color: #f4511e;
}

.bg-deepOrange700 {
    background-color: #e64a19;
}

.font-deepOrange700 {
    color: #e64a19;
}

.bg-deepOrange800 {
    background-color: #d84315;
}

.font-deepOrange800 {
    color: #d84315;
}

.bg-deepOrange900 {
    background-color: #bf360c;
}

.font-deepOrange900 {
    color: #bf360c;
}

.bg-deepOrangeA100 {
    background-color: #ff9e80;
}

.font-deepOrangeA100 {
    color: #ff9e80;
}

.bg-deepOrangeA200 {
    background-color: #ff6e40;
}

.font-deepOrangeA200 {
    color: #ff6e40;
}

.bg-deepOrangeA400 {
    background-color: #ff3d00;
}

.font-deepOrangeA400 {
    color: #ff3d00;
}

.bg-deepOrangeA700 {
    background-color: #dd2c00;
}

.font-deepOrangeA700 {
    color: #dd2c00;
}

.bg-brown50 {
    background-color: #efebe9;
}

.font-brown50 {
    color: #efebe9;
}

.bg-brown100 {
    background-color: #d7ccc8;
}

.font-brown100 {
    color: #d7ccc8;
}

.bg-brown200 {
    background-color: #bcaaa4;
}

.font-brown200 {
    color: #bcaaa4;
}

.bg-brown300 {
    background-color: #a1887f;
}

.font-brown300 {
    color: #a1887f;
}

.bg-brown400 {
    background-color: #8d6e63;
}

.font-brown400 {
    color: #8d6e63;
}

.bg-brown500 {
    background-color: #795548;
}

.font-brown500 {
    color: #795548;
}

.bg-brown600 {
    background-color: #6d4c41;
}

.font-brown600 {
    color: #6d4c41;
}

.bg-brown700 {
    background-color: #5d4037;
}

.font-brown700 {
    color: #5d4037;
}

.bg-brown800 {
    background-color: #4e342e;
}

.font-brown800 {
    color: #4e342e;
}

.bg-brown900 {
    background-color: #3e2723;
}

.font-brown900 {
    color: #3e2723;
}

.bg-blueGrey50 {
    background-color: #eceff1;
}

.font-blueGrey50 {
    color: #eceff1;
}

.bg-blueGrey100 {
    background-color: #cfd8dc;
}

.font-blueGrey100 {
    color: #cfd8dc;
}

.bg-blueGrey200 {
    background-color: #b0bec5;
}

.font-blueGrey200 {
    color: #b0bec5;
}

.bg-blueGrey300 {
    background-color: #90a4ae;
}

.font-blueGrey300 {
    color: #90a4ae;
}

.bg-blueGrey400 {
    background-color: #78909c;
}

.font-blueGrey400 {
    color: #78909c;
}

.bg-blueGrey500 {
    background-color: #607d8b;
}

.font-blueGrey500 {
    color: #607d8b;
}

.bg-blueGrey600 {
    background-color: #546e7a;
}

.font-blueGrey600 {
    color: #546e7a;
}

.bg-blueGrey700 {
    background-color: #455a64;
}

.font-blueGrey700 {
    color: #455a64;
}

.bg-blueGrey800 {
    background-color: #37474f;
}

.font-blueGrey800 {
    color: #37474f;
}

.bg-blueGrey900 {
    background-color: #263238;
}

.font-blueGrey900 {
    color: #263238;
}

.bg-grey50 {
    background-color: #fafafa;
}

.font-grey50 {
    color: #fafafa;
}

.bg-grey100 {
    background-color: #f5f5f5;
}

.font-grey100 {
    color: #f5f5f5;
}

.bg-grey200 {
    background-color: #eeeeee;
}

.font-grey200 {
    color: #eeeeee;
}

.bg-grey300 {
    background-color: #e0e0e0;
}

.font-grey300 {
    color: #e0e0e0;
}

.bg-grey400 {
    background-color: #bdbdbd;
}

.font-grey400 {
    color: #bdbdbd;
}

.bg-grey500 {
    background-color: #9e9e9e;
}

.font-grey500 {
    color: #9e9e9e;
}

.bg-grey600 {
    background-color: #757575;
}

.font-grey600 {
    color: #757575;
}

.bg-grey700 {
    background-color: #616161;
}

.font-grey700 {
    color: #616161;
}

.bg-grey800 {
    background-color: #424242;
}

.font-grey800 {
    color: #424242;
}

.bg-grey900 {
    background-color: #212121;
}

.font-grey900 {
    color: #212121;
}

.bg-black {
    background-color: #000000;
}

.font-black {
    color: #000000;
}

.bg-white {
    background-color: #ffffff;
}

.font-white {
    color: #ffffff;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.font-transparent {
    color: rgba(0, 0, 0, 0);
}

.bg-fullBlack {
    background-color: rgba(0, 0, 0, 1);
}

.font-fullBlack {
    color: rgba(0, 0, 0, 1);
}

.bg-darkBlack {
    background-color: rgba(0, 0, 0, 0.87);
}

.font-darkBlack {
    color: rgba(0, 0, 0, 0.87);
}

.bg-lightBlack {
    background-color: rgba(0, 0, 0, 0.54);
}

.font-lightBlack {
    color: rgba(0, 0, 0, 0.54);
}

.bg-minBlack {
    background-color: rgba(0, 0, 0, 0.26);
}

.font-minBlack {
    color: rgba(0, 0, 0, 0.26);
}

.bg-faintBlack {
    background-color: rgba(0, 0, 0, 0.12);
}

.font-faintBlack {
    color: rgba(0, 0, 0, 0.12);
}

.bg-fullWhite {
    background-color: rgba(255, 255, 255, 1);
}

.font-fullWhite {
    color: rgba(255, 255, 255, 1);
}

.bg-darkWhite {
    background-color: rgba(255, 255, 255, 0.87);
}

.font-darkWhite {
    color: rgba(255, 255, 255, 0.87);
}

.bg-lightWhite {
    background-color: rgba(255, 255, 255, 0.54);
}

.font-lightWhite {
    color: rgba(255, 255, 255, 0.54);
}