@font-face {
  font-family: 'material-design';
  src:  url('fonts/material-design.eot?cwl4pm');
  src:  url('fonts/material-design.eot?cwl4pm#iefix') format('embedded-opentype'),
    url('fonts/material-design.ttf?cwl4pm') format('truetype'),
    url('fonts/material-design.woff?cwl4pm') format('woff'),
    url('fonts/material-design.svg?cwl4pm#material-design') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="md_"], [class*=" md_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'material-design' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md_ic_3d_rotation:before {
  content: "\e900";
}
.md_ic_ac_unit:before {
  content: "\e901";
}
.md_ic_access_alarm:before {
  content: "\e902";
}
.md_ic_access_alarms:before {
  content: "\e903";
}
.md_ic_access_time:before {
  content: "\e904";
}
.md_ic_accessibility:before {
  content: "\e905";
}
.md_ic_accessible:before {
  content: "\e906";
}
.md_ic_account_balance_wallet:before {
  content: "\e907";
}
.md_ic_account_balance:before {
  content: "\e908";
}
.md_ic_account_box:before {
  content: "\e909";
}
.md_ic_account_circle:before {
  content: "\e90a";
}
.md_ic_adb:before {
  content: "\e90b";
}
.md_ic_add_a_photo:before {
  content: "\e90c";
}
.md_ic_add_alarm:before {
  content: "\e90d";
}
.md_ic_add_alert:before {
  content: "\e90e";
}
.md_ic_add_box:before {
  content: "\e90f";
}
.md_ic_add_circle_outline:before {
  content: "\e910";
}
.md_ic_add_circle:before {
  content: "\e911";
}
.md_ic_add_location:before {
  content: "\e912";
}
.md_ic_add_shopping_cart:before {
  content: "\e913";
}
.md_ic_add_to_photos:before {
  content: "\e914";
}
.md_ic_add_to_queue:before {
  content: "\e915";
}
.md_ic_add:before {
  content: "\e916";
}
.md_ic_adjust:before {
  content: "\e917";
}
.md_ic_airline_seat_flat_angled:before {
  content: "\e918";
}
.md_ic_airline_seat_flat:before {
  content: "\e919";
}
.md_ic_airline_seat_individual_suite:before {
  content: "\e91a";
}
.md_ic_airline_seat_legroom_extra:before {
  content: "\e91b";
}
.md_ic_airline_seat_legroom_normal:before {
  content: "\e91c";
}
.md_ic_airline_seat_legroom_reduced:before {
  content: "\e91d";
}
.md_ic_airline_seat_recline_extra:before {
  content: "\e91e";
}
.md_ic_airline_seat_recline_normal:before {
  content: "\e91f";
}
.md_ic_airplanemode_active:before {
  content: "\e920";
}
.md_ic_airplanemode_inactive:before {
  content: "\e921";
}
.md_ic_airplay:before {
  content: "\e922";
}
.md_ic_airport_shuttle:before {
  content: "\e923";
}
.md_ic_alarm_add:before {
  content: "\e924";
}
.md_ic_alarm_off:before {
  content: "\e925";
}
.md_ic_alarm_on:before {
  content: "\e926";
}
.md_ic_alarm:before {
  content: "\e927";
}
.md_ic_album:before {
  content: "\e928";
}
.md_ic_all_inclusive:before {
  content: "\e929";
}
.md_ic_all_out:before {
  content: "\e92a";
}
.md_ic_android:before {
  content: "\e92b";
}
.md_ic_announcement:before {
  content: "\e92c";
}
.md_ic_apps:before {
  content: "\e92d";
}
.md_ic_archive:before {
  content: "\e92e";
}
.md_ic_arrow_back:before {
  content: "\e92f";
}
.md_ic_arrow_downward:before {
  content: "\e930";
}
.md_ic_arrow_drop_down_circle:before {
  content: "\e931";
}
.md_ic_arrow_drop_down:before {
  content: "\e932";
}
.md_ic_arrow_drop_up:before {
  content: "\e933";
}
.md_ic_arrow_forward:before {
  content: "\e934";
}
.md_ic_arrow_upward:before {
  content: "\e935";
}
.md_ic_art_track:before {
  content: "\e936";
}
.md_ic_aspect_ratio:before {
  content: "\e937";
}
.md_ic_assessment:before {
  content: "\e938";
}
.md_ic_assignment_ind:before {
  content: "\e939";
}
.md_ic_assignment_late:before {
  content: "\e93a";
}
.md_ic_assignment_return:before {
  content: "\e93b";
}
.md_ic_assignment_returned:before {
  content: "\e93c";
}
.md_ic_assignment_turned_in:before {
  content: "\e93d";
}
.md_ic_assignment:before {
  content: "\e93e";
}
.md_ic_assistant_photo:before {
  content: "\e93f";
}
.md_ic_assistant:before {
  content: "\e940";
}
.md_ic_attach_file:before {
  content: "\e941";
}
.md_ic_attach_money:before {
  content: "\e942";
}
.md_ic_attachment:before {
  content: "\e943";
}
.md_ic_audiotrack:before {
  content: "\e944";
}
.md_ic_autorenew:before {
  content: "\e945";
}
.md_ic_av_timer:before {
  content: "\e946";
}
.md_ic_backspace:before {
  content: "\e947";
}
.md_ic_backup:before {
  content: "\e948";
}
.md_ic_battery_20 .path1:before {
  content: "\e949";
  color: rgb(0, 0, 0);
}
.md_ic_battery_20 .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_30 .path1:before {
  content: "\e94b";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_30 .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_50 .path1:before {
  content: "\e94d";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_50 .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_60 .path1:before {
  content: "\e94f";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_60 .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_80 .path1:before {
  content: "\e951";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_80 .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_90 .path1:before {
  content: "\e953";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_90 .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_alert:before {
  content: "\e955";
}
.md_ic_battery_charging_20 .path1:before {
  content: "\e956";
  color: rgb(0, 0, 0);
}
.md_ic_battery_charging_20 .path2:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_charging_30 .path1:before {
  content: "\e958";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_charging_30 .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_charging_50 .path1:before {
  content: "\e95a";
  color: rgb(0, 0, 0);
}
.md_ic_battery_charging_50 .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_charging_60 .path1:before {
  content: "\e95c";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_charging_60 .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_charging_80 .path1:before {
  content: "\e95e";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_charging_80 .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_charging_90 .path1:before {
  content: "\e960";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_battery_charging_90 .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_battery_charging_full:before {
  content: "\e962";
}
.md_ic_battery_full:before {
  content: "\e963";
}
.md_ic_battery_std:before {
  content: "\e964";
}
.md_ic_battery_unknown:before {
  content: "\e965";
}
.md_ic_beach_access:before {
  content: "\e966";
}
.md_ic_beenhere:before {
  content: "\e967";
}
.md_ic_block:before {
  content: "\e968";
}
.md_ic_bluetooth_audio:before {
  content: "\e969";
}
.md_ic_bluetooth_connected:before {
  content: "\e96a";
}
.md_ic_bluetooth_disabled:before {
  content: "\e96b";
}
.md_ic_bluetooth_searching:before {
  content: "\e96c";
}
.md_ic_bluetooth:before {
  content: "\e96d";
}
.md_ic_blur_circular:before {
  content: "\e96e";
}
.md_ic_blur_linear:before {
  content: "\e96f";
}
.md_ic_blur_off:before {
  content: "\e970";
}
.md_ic_blur_on:before {
  content: "\e971";
}
.md_ic_book:before {
  content: "\e972";
}
.md_ic_bookmark_border:before {
  content: "\e973";
}
.md_ic_bookmark:before {
  content: "\e974";
}
.md_ic_border_all:before {
  content: "\e975";
}
.md_ic_border_bottom:before {
  content: "\e976";
}
.md_ic_border_clear:before {
  content: "\e977";
}
.md_ic_border_color .path1:before {
  content: "\e978";
  color: rgb(0, 0, 0);
}
.md_ic_border_color .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.36;
}
.md_ic_border_horizontal:before {
  content: "\e97a";
}
.md_ic_border_inner:before {
  content: "\e97b";
}
.md_ic_border_left:before {
  content: "\e97c";
}
.md_ic_border_outer:before {
  content: "\e97d";
}
.md_ic_border_right:before {
  content: "\e97e";
}
.md_ic_border_style:before {
  content: "\e97f";
}
.md_ic_border_top:before {
  content: "\e980";
}
.md_ic_border_vertical:before {
  content: "\e981";
}
.md_ic_branding_watermark:before {
  content: "\e982";
}
.md_ic_brightness_1:before {
  content: "\e983";
}
.md_ic_brightness_2:before {
  content: "\e984";
}
.md_ic_brightness_3:before {
  content: "\e985";
}
.md_ic_brightness_4:before {
  content: "\e986";
}
.md_ic_brightness_5:before {
  content: "\e987";
}
.md_ic_brightness_6:before {
  content: "\e988";
}
.md_ic_brightness_7:before {
  content: "\e989";
}
.md_ic_brightness_auto:before {
  content: "\e98a";
}
.md_ic_brightness_high:before {
  content: "\e98b";
}
.md_ic_brightness_low:before {
  content: "\e98c";
}
.md_ic_brightness_medium:before {
  content: "\e98d";
}
.md_ic_broken_image:before {
  content: "\e98e";
}
.md_ic_brush:before {
  content: "\e98f";
}
.md_ic_bubble_chart:before {
  content: "\e990";
}
.md_ic_bug_report:before {
  content: "\e991";
}
.md_ic_build:before {
  content: "\e992";
}
.md_ic_burst_mode:before {
  content: "\e993";
}
.md_ic_business_center:before {
  content: "\e994";
}
.md_ic_business:before {
  content: "\e995";
}
.md_ic_cached:before {
  content: "\e996";
}
.md_ic_cake:before {
  content: "\e997";
}
.md_ic_call_end:before {
  content: "\e998";
}
.md_ic_call_made:before {
  content: "\e999";
}
.md_ic_call_merge:before {
  content: "\e99a";
}
.md_ic_call_missed_outgoing:before {
  content: "\e99b";
}
.md_ic_call_missed:before {
  content: "\e99c";
}
.md_ic_call_received:before {
  content: "\e99d";
}
.md_ic_call_split:before {
  content: "\e99e";
}
.md_ic_call_to_action:before {
  content: "\e99f";
}
.md_ic_call:before {
  content: "\e9a0";
}
.md_ic_camera_alt:before {
  content: "\e9a1";
}
.md_ic_camera_front:before {
  content: "\e9a2";
}
.md_ic_camera_rear:before {
  content: "\e9a3";
}
.md_ic_camera_roll:before {
  content: "\e9a4";
}
.md_ic_camera:before {
  content: "\e9a5";
}
.md_ic_cancel:before {
  content: "\e9a6";
}
.md_ic_card_giftcard:before {
  content: "\e9a7";
}
.md_ic_card_membership:before {
  content: "\e9a8";
}
.md_ic_card_travel:before {
  content: "\e9a9";
}
.md_ic_casino:before {
  content: "\e9aa";
}
.md_ic_cast_connected:before {
  content: "\e9ab";
}
.md_ic_cast:before {
  content: "\e9ac";
}
.md_ic_center_focus_strong:before {
  content: "\e9ad";
}
.md_ic_center_focus_weak:before {
  content: "\e9ae";
}
.md_ic_change_history:before {
  content: "\e9af";
}
.md_ic_chat_bubble_outline:before {
  content: "\e9b0";
}
.md_ic_chat_bubble:before {
  content: "\e9b1";
}
.md_ic_chat:before {
  content: "\e9b2";
}
.md_ic_check_box_outline_blank:before {
  content: "\e9b3";
}
.md_ic_check_box:before {
  content: "\e9b4";
}
.md_ic_check_circle:before {
  content: "\e9b5";
}
.md_ic_check:before {
  content: "\e9b6";
}
.md_ic_chevron_left:before {
  content: "\e9b7";
}
.md_ic_chevron_right:before {
  content: "\e9b8";
}
.md_ic_child_care:before {
  content: "\e9b9";
}
.md_ic_child_friendly:before {
  content: "\e9ba";
}
.md_ic_chrome_reader_mode:before {
  content: "\e9bb";
}
.md_ic_class:before {
  content: "\e9bc";
}
.md_ic_clear_all:before {
  content: "\e9bd";
}
.md_ic_clear:before {
  content: "\e9be";
}
.md_ic_close:before {
  content: "\e9bf";
}
.md_ic_closed_caption:before {
  content: "\e9c0";
}
.md_ic_cloud_circle:before {
  content: "\e9c1";
}
.md_ic_cloud_done:before {
  content: "\e9c2";
}
.md_ic_cloud_download:before {
  content: "\e9c3";
}
.md_ic_cloud_off:before {
  content: "\e9c4";
}
.md_ic_cloud_queue:before {
  content: "\e9c5";
}
.md_ic_cloud_upload:before {
  content: "\e9c6";
}
.md_ic_cloud:before {
  content: "\e9c7";
}
.md_ic_code:before {
  content: "\e9c8";
}
.md_ic_collections:before {
  content: "\e9c9";
}
.md_ic_color_lens:before {
  content: "\e9ca";
}
.md_ic_colorize:before {
  content: "\e9cb";
}
.md_ic_comment:before {
  content: "\e9cc";
}
.md_ic_compare_arrows:before {
  content: "\e9cd";
}
.md_ic_compare:before {
  content: "\e9ce";
}
.md_ic_computer:before {
  content: "\e9cf";
}
.md_ic_confirmation_number:before {
  content: "\e9d0";
}
.md_ic_contact_mail:before {
  content: "\e9d1";
}
.md_ic_contact_phone:before {
  content: "\e9d2";
}
.md_ic_contacts:before {
  content: "\e9d3";
}
.md_ic_content_copy:before {
  content: "\e9d4";
}
.md_ic_content_cut:before {
  content: "\e9d5";
}
.md_ic_content_paste:before {
  content: "\e9d6";
}
.md_ic_control_point_duplicate:before {
  content: "\e9d7";
}
.md_ic_control_point:before {
  content: "\e9d8";
}
.md_ic_copyright:before {
  content: "\e9d9";
}
.md_ic_create_new_folder:before {
  content: "\e9da";
}
.md_ic_create:before {
  content: "\e9db";
}
.md_ic_credit_card:before {
  content: "\e9dc";
}
.md_ic_crop_3_2:before {
  content: "\e9dd";
}
.md_ic_crop_5_4:before {
  content: "\e9de";
}
.md_ic_crop_7_5:before {
  content: "\e9df";
}
.md_ic_crop_16_9:before {
  content: "\e9e0";
}
.md_ic_crop_din:before {
  content: "\e9e1";
}
.md_ic_crop_free:before {
  content: "\e9e2";
}
.md_ic_crop_landscape:before {
  content: "\e9e3";
}
.md_ic_crop_original:before {
  content: "\e9e4";
}
.md_ic_crop_portrait:before {
  content: "\e9e5";
}
.md_ic_crop_rotate:before {
  content: "\e9e6";
}
.md_ic_crop_square:before {
  content: "\e9e7";
}
.md_ic_crop:before {
  content: "\e9e8";
}
.md_ic_dashboard:before {
  content: "\e9e9";
}
.md_ic_data_usage:before {
  content: "\e9ea";
}
.md_ic_date_range:before {
  content: "\e9eb";
}
.md_ic_dehaze:before {
  content: "\e9ec";
}
.md_ic_delete_forever:before {
  content: "\e9ed";
}
.md_ic_delete_sweep:before {
  content: "\e9ee";
}
.md_ic_delete:before {
  content: "\e9ef";
}
.md_ic_description:before {
  content: "\e9f0";
}
.md_ic_desktop_mac:before {
  content: "\e9f1";
}
.md_ic_desktop_windows:before {
  content: "\e9f2";
}
.md_ic_details:before {
  content: "\e9f3";
}
.md_ic_developer_board:before {
  content: "\e9f4";
}
.md_ic_developer_mode:before {
  content: "\e9f5";
}
.md_ic_devices_other:before {
  content: "\e9f6";
}
.md_ic_devices:before {
  content: "\e9f7";
}
.md_ic_dialer_sip:before {
  content: "\e9f8";
}
.md_ic_dialpad:before {
  content: "\e9f9";
}
.md_ic_directions_bike:before {
  content: "\e9fa";
}
.md_ic_directions_boat:before {
  content: "\e9fb";
}
.md_ic_directions_bus:before {
  content: "\e9fc";
}
.md_ic_directions_car:before {
  content: "\e9fd";
}
.md_ic_directions_railway:before {
  content: "\e9fe";
}
.md_ic_directions_run:before {
  content: "\e9ff";
}
.md_ic_directions_subway:before {
  content: "\ea00";
}
.md_ic_directions_transit:before {
  content: "\ea01";
}
.md_ic_directions_walk:before {
  content: "\ea02";
}
.md_ic_directions:before {
  content: "\ea03";
}
.md_ic_disc_full:before {
  content: "\ea04";
}
.md_ic_dns:before {
  content: "\ea05";
}
.md_ic_do_not_disturb_alt:before {
  content: "\ea06";
}
.md_ic_do_not_disturb_off:before {
  content: "\ea07";
}
.md_ic_do_not_disturb_on:before {
  content: "\ea08";
}
.md_ic_do_not_disturb:before {
  content: "\ea09";
}
.md_ic_dock:before {
  content: "\ea0a";
}
.md_ic_domain:before {
  content: "\ea0b";
}
.md_ic_done_all:before {
  content: "\ea0c";
}
.md_ic_done:before {
  content: "\ea0d";
}
.md_ic_donut_large:before {
  content: "\ea0e";
}
.md_ic_donut_small:before {
  content: "\ea0f";
}
.md_ic_drafts:before {
  content: "\ea10";
}
.md_ic_drag_handle:before {
  content: "\ea11";
}
.md_ic_drive_eta:before {
  content: "\ea12";
}
.md_ic_dvr:before {
  content: "\ea13";
}
.md_ic_edit_location:before {
  content: "\ea14";
}
.md_ic_edit:before {
  content: "\ea15";
}
.md_ic_email:before {
  content: "\ea16";
}
.md_ic_enhanced_encryption:before {
  content: "\ea17";
}
.md_ic_equalizer:before {
  content: "\ea18";
}
.md_ic_error_outline:before {
  content: "\ea19";
}
.md_ic_error:before {
  content: "\ea1a";
}
.md_ic_euro_symbol:before {
  content: "\ea1b";
}
.md_ic_ev_station:before {
  content: "\ea1c";
}
.md_ic_event_available:before {
  content: "\ea1d";
}
.md_ic_event_busy:before {
  content: "\ea1e";
}
.md_ic_event_note:before {
  content: "\ea1f";
}
.md_ic_event_seat:before {
  content: "\ea20";
}
.md_ic_event:before {
  content: "\ea21";
}
.md_ic_exit_to_app:before {
  content: "\ea22";
}
.md_ic_expand_less:before {
  content: "\ea23";
}
.md_ic_expand_more:before {
  content: "\ea24";
}
.md_ic_explicit:before {
  content: "\ea25";
}
.md_ic_explore:before {
  content: "\ea26";
}
.md_ic_exposure_neg_1:before {
  content: "\ea27";
}
.md_ic_exposure_neg_2:before {
  content: "\ea28";
}
.md_ic_exposure_plus_1:before {
  content: "\ea29";
}
.md_ic_exposure_plus_2:before {
  content: "\ea2a";
}
.md_ic_exposure_zero:before {
  content: "\ea2b";
}
.md_ic_exposure:before {
  content: "\ea2c";
}
.md_ic_extension:before {
  content: "\ea2d";
}
.md_ic_face:before {
  content: "\ea2e";
}
.md_ic_fast_forward:before {
  content: "\ea2f";
}
.md_ic_fast_rewind:before {
  content: "\ea30";
}
.md_ic_favorite_border:before {
  content: "\ea31";
}
.md_ic_favorite:before {
  content: "\ea32";
}
.md_ic_featured_play_list:before {
  content: "\ea33";
}
.md_ic_featured_video:before {
  content: "\ea34";
}
.md_ic_feedback:before {
  content: "\ea35";
}
.md_ic_fiber_dvr:before {
  content: "\ea36";
}
.md_ic_fiber_manual_record:before {
  content: "\ea37";
}
.md_ic_fiber_new:before {
  content: "\ea38";
}
.md_ic_fiber_pin:before {
  content: "\ea39";
}
.md_ic_fiber_smart_record:before {
  content: "\ea3a";
}
.md_ic_file_download:before {
  content: "\ea3b";
}
.md_ic_file_upload:before {
  content: "\ea3c";
}
.md_ic_filter_1:before {
  content: "\ea3d";
}
.md_ic_filter_2:before {
  content: "\ea3e";
}
.md_ic_filter_3:before {
  content: "\ea3f";
}
.md_ic_filter_4:before {
  content: "\ea40";
}
.md_ic_filter_5:before {
  content: "\ea41";
}
.md_ic_filter_6:before {
  content: "\ea42";
}
.md_ic_filter_7:before {
  content: "\ea43";
}
.md_ic_filter_8:before {
  content: "\ea44";
}
.md_ic_filter_9_plus:before {
  content: "\ea45";
}
.md_ic_filter_9:before {
  content: "\ea46";
}
.md_ic_filter_b_and_w:before {
  content: "\ea47";
}
.md_ic_filter_center_focus:before {
  content: "\ea48";
}
.md_ic_filter_drama:before {
  content: "\ea49";
}
.md_ic_filter_frames:before {
  content: "\ea4a";
}
.md_ic_filter_hdr:before {
  content: "\ea4b";
}
.md_ic_filter_list:before {
  content: "\ea4c";
}
.md_ic_filter_none:before {
  content: "\ea4d";
}
.md_ic_filter_tilt_shift:before {
  content: "\ea4e";
}
.md_ic_filter_vintage:before {
  content: "\ea4f";
}
.md_ic_filter:before {
  content: "\ea50";
}
.md_ic_find_in_page:before {
  content: "\ea51";
}
.md_ic_find_replace:before {
  content: "\ea52";
}
.md_ic_fingerprint:before {
  content: "\ea53";
}
.md_ic_first_page:before {
  content: "\ea54";
}
.md_ic_fitness_center:before {
  content: "\ea55";
}
.md_ic_flag:before {
  content: "\ea56";
}
.md_ic_flare:before {
  content: "\ea57";
}
.md_ic_flash_auto:before {
  content: "\ea58";
}
.md_ic_flash_off:before {
  content: "\ea59";
}
.md_ic_flash_on:before {
  content: "\ea5a";
}
.md_ic_flight_land:before {
  content: "\ea5b";
}
.md_ic_flight_takeoff:before {
  content: "\ea5c";
}
.md_ic_flight:before {
  content: "\ea5d";
}
.md_ic_flip_to_back:before {
  content: "\ea5e";
}
.md_ic_flip_to_front:before {
  content: "\ea5f";
}
.md_ic_flip:before {
  content: "\ea60";
}
.md_ic_folder_open:before {
  content: "\ea61";
}
.md_ic_folder_shared:before {
  content: "\ea62";
}
.md_ic_folder_special:before {
  content: "\ea63";
}
.md_ic_folder:before {
  content: "\ea64";
}
.md_ic_format_align_center:before {
  content: "\ea65";
}
.md_ic_format_align_justify:before {
  content: "\ea66";
}
.md_ic_format_align_left:before {
  content: "\ea67";
}
.md_ic_format_align_right:before {
  content: "\ea68";
}
.md_ic_format_bold:before {
  content: "\ea69";
}
.md_ic_format_clear:before {
  content: "\ea6a";
}
.md_ic_format_color_fill .path1:before {
  content: "\ea6b";
  color: rgb(0, 0, 0);
}
.md_ic_format_color_fill .path2:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.36;
}
.md_ic_format_color_reset:before {
  content: "\ea6d";
}
.md_ic_format_color_text .path1:before {
  content: "\ea6e";
  color: rgb(0, 0, 0);
  opacity: 0.36;
}
.md_ic_format_color_text .path2:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_format_indent_decrease:before {
  content: "\ea70";
}
.md_ic_format_indent_increase:before {
  content: "\ea71";
}
.md_ic_format_italic:before {
  content: "\ea72";
}
.md_ic_format_line_spacing:before {
  content: "\ea73";
}
.md_ic_format_list_bulleted:before {
  content: "\ea74";
}
.md_ic_format_list_numbered:before {
  content: "\ea75";
}
.md_ic_format_paint:before {
  content: "\ea76";
}
.md_ic_format_quote:before {
  content: "\ea77";
}
.md_ic_format_shapes:before {
  content: "\ea78";
}
.md_ic_format_size:before {
  content: "\ea79";
}
.md_ic_format_strikethrough:before {
  content: "\ea7a";
}
.md_ic_format_textdirection_l_to_r:before {
  content: "\ea7b";
}
.md_ic_format_textdirection_r_to_l:before {
  content: "\ea7c";
}
.md_ic_format_underlined:before {
  content: "\ea7d";
}
.md_ic_forum:before {
  content: "\ea7e";
}
.md_ic_forward_5:before {
  content: "\ea7f";
}
.md_ic_forward_10:before {
  content: "\ea80";
}
.md_ic_forward_30:before {
  content: "\ea81";
}
.md_ic_forward:before {
  content: "\ea82";
}
.md_ic_free_breakfast:before {
  content: "\ea83";
}
.md_ic_fullscreen_exit:before {
  content: "\ea84";
}
.md_ic_fullscreen:before {
  content: "\ea85";
}
.md_ic_functions:before {
  content: "\ea86";
}
.md_ic_g_translate:before {
  content: "\ea87";
}
.md_ic_gamepad:before {
  content: "\ea88";
}
.md_ic_games:before {
  content: "\ea89";
}
.md_ic_gavel:before {
  content: "\ea8a";
}
.md_ic_gesture:before {
  content: "\ea8b";
}
.md_ic_get_app:before {
  content: "\ea8c";
}
.md_ic_golf_course:before {
  content: "\ea8d";
}
.md_ic_gps_fixed:before {
  content: "\ea8e";
}
.md_ic_gps_not_fixed:before {
  content: "\ea8f";
}
.md_ic_gps_off:before {
  content: "\ea90";
}
.md_ic_grade:before {
  content: "\ea91";
}
.md_ic_gradient:before {
  content: "\ea92";
}
.md_ic_grain:before {
  content: "\ea93";
}
.md_ic_graphic_eq:before {
  content: "\ea94";
}
.md_ic_grid_off:before {
  content: "\ea95";
}
.md_ic_grid_on:before {
  content: "\ea96";
}
.md_ic_group_add:before {
  content: "\ea97";
}
.md_ic_group_work:before {
  content: "\ea98";
}
.md_ic_group:before {
  content: "\ea99";
}
.md_ic_hdr_off:before {
  content: "\ea9a";
}
.md_ic_hdr_on:before {
  content: "\ea9b";
}
.md_ic_hdr_strong:before {
  content: "\ea9c";
}
.md_ic_hdr_weak:before {
  content: "\ea9d";
}
.md_ic_headset_mic:before {
  content: "\ea9e";
}
.md_ic_headset:before {
  content: "\ea9f";
}
.md_ic_healing:before {
  content: "\eaa0";
}
.md_ic_hearing:before {
  content: "\eaa1";
}
.md_ic_help:before {
  content: "\eaa2";
}
.md_ic_high_quality:before {
  content: "\eaa3";
}
.md_ic_highlight_off:before {
  content: "\eaa4";
}
.md_ic_highlight:before {
  content: "\eaa5";
}
.md_ic_history:before {
  content: "\eaa6";
}
.md_ic_home:before {
  content: "\eaa7";
}
.md_ic_hot_tub:before {
  content: "\eaa8";
}
.md_ic_hotel:before {
  content: "\eaa9";
}
.md_ic_hourglass_empty:before {
  content: "\eaaa";
}
.md_ic_hourglass_full:before {
  content: "\eaab";
}
.md_ic_http:before {
  content: "\eaac";
}
.md_ic_https:before {
  content: "\eaad";
}
.md_ic_image_aspect_ratio:before {
  content: "\eaae";
}
.md_ic_image:before {
  content: "\eaaf";
}
.md_ic_import_contacts:before {
  content: "\eab0";
}
.md_ic_import_export:before {
  content: "\eab1";
}
.md_ic_important_devices:before {
  content: "\eab2";
}
.md_ic_inbox:before {
  content: "\eab3";
}
.md_ic_info_outline:before {
  content: "\eab4";
}
.md_ic_info:before {
  content: "\eab5";
}
.md_ic_input:before {
  content: "\eab6";
}
.md_ic_insert_chart:before {
  content: "\eab7";
}
.md_ic_insert_comment:before {
  content: "\eab8";
}
.md_ic_insert_drive_file:before {
  content: "\eab9";
}
.md_ic_insert_emoticon:before {
  content: "\eaba";
}
.md_ic_insert_invitation:before {
  content: "\eabb";
}
.md_ic_insert_link:before {
  content: "\eabc";
}
.md_ic_insert_photo:before {
  content: "\eabd";
}
.md_ic_invert_colors_off:before {
  content: "\eabe";
}
.md_ic_invert_colors:before {
  content: "\eabf";
}
.md_ic_iso:before {
  content: "\eac0";
}
.md_ic_keyboard_arrow_down:before {
  content: "\eac1";
}
.md_ic_keyboard_arrow_left:before {
  content: "\eac2";
}
.md_ic_keyboard_arrow_right:before {
  content: "\eac3";
}
.md_ic_keyboard_arrow_up:before {
  content: "\eac4";
}
.md_ic_keyboard_backspace:before {
  content: "\eac5";
}
.md_ic_keyboard_capslock:before {
  content: "\eac6";
}
.md_ic_keyboard_hide:before {
  content: "\eac7";
}
.md_ic_keyboard_return:before {
  content: "\eac8";
}
.md_ic_keyboard_tab:before {
  content: "\eac9";
}
.md_ic_keyboard_voice:before {
  content: "\eaca";
}
.md_ic_keyboard:before {
  content: "\eacb";
}
.md_ic_kitchen:before {
  content: "\eacc";
}
.md_ic_label_outline:before {
  content: "\eacd";
}
.md_ic_label:before {
  content: "\eace";
}
.md_ic_landscape:before {
  content: "\eacf";
}
.md_ic_language:before {
  content: "\ead0";
}
.md_ic_laptop_chromebook:before {
  content: "\ead1";
}
.md_ic_laptop_mac:before {
  content: "\ead2";
}
.md_ic_laptop_windows:before {
  content: "\ead3";
}
.md_ic_laptop:before {
  content: "\ead4";
}
.md_ic_last_page:before {
  content: "\ead5";
}
.md_ic_launch:before {
  content: "\ead6";
}
.md_ic_layers_clear:before {
  content: "\ead7";
}
.md_ic_layers:before {
  content: "\ead8";
}
.md_ic_leak_add:before {
  content: "\ead9";
}
.md_ic_leak_remove:before {
  content: "\eada";
}
.md_ic_lens:before {
  content: "\eadb";
}
.md_ic_library_add:before {
  content: "\eadc";
}
.md_ic_library_books:before {
  content: "\eadd";
}
.md_ic_library_music:before {
  content: "\eade";
}
.md_ic_lightbulb_outline:before {
  content: "\eadf";
}
.md_ic_line_style:before {
  content: "\eae0";
}
.md_ic_line_weight:before {
  content: "\eae1";
}
.md_ic_linear_scale:before {
  content: "\eae2";
}
.md_ic_link:before {
  content: "\eae3";
}
.md_ic_linked_camera:before {
  content: "\eae4";
}
.md_ic_list:before {
  content: "\eae5";
}
.md_ic_live_help:before {
  content: "\eae6";
}
.md_ic_live_tv:before {
  content: "\eae7";
}
.md_ic_local_activity:before {
  content: "\eae8";
}
.md_ic_local_airport:before {
  content: "\eae9";
}
.md_ic_local_atm:before {
  content: "\eaea";
}
.md_ic_local_bar:before {
  content: "\eaeb";
}
.md_ic_local_cafe:before {
  content: "\eaec";
}
.md_ic_local_car_wash:before {
  content: "\eaed";
}
.md_ic_local_convenience_store:before {
  content: "\eaee";
}
.md_ic_local_dining:before {
  content: "\eaef";
}
.md_ic_local_drink:before {
  content: "\eaf0";
}
.md_ic_local_florist:before {
  content: "\eaf1";
}
.md_ic_local_gas_station:before {
  content: "\eaf2";
}
.md_ic_local_grocery_store:before {
  content: "\eaf3";
}
.md_ic_local_hospital:before {
  content: "\eaf4";
}
.md_ic_local_hotel:before {
  content: "\eaf5";
}
.md_ic_local_laundry_service:before {
  content: "\eaf6";
}
.md_ic_local_library:before {
  content: "\eaf7";
}
.md_ic_local_mall:before {
  content: "\eaf8";
}
.md_ic_local_movies:before {
  content: "\eaf9";
}
.md_ic_local_offer:before {
  content: "\eafa";
}
.md_ic_local_parking:before {
  content: "\eafb";
}
.md_ic_local_pharmacy:before {
  content: "\eafc";
}
.md_ic_local_phone:before {
  content: "\eafd";
}
.md_ic_local_pizza:before {
  content: "\eafe";
}
.md_ic_local_play:before {
  content: "\eaff";
}
.md_ic_local_post_office:before {
  content: "\eb00";
}
.md_ic_local_printshop:before {
  content: "\eb01";
}
.md_ic_local_see:before {
  content: "\eb02";
}
.md_ic_local_shipping:before {
  content: "\eb03";
}
.md_ic_local_taxi:before {
  content: "\eb04";
}
.md_ic_location_city:before {
  content: "\eb05";
}
.md_ic_location_disabled:before {
  content: "\eb06";
}
.md_ic_location_off:before {
  content: "\eb07";
}
.md_ic_location_on:before {
  content: "\eb08";
}
.md_ic_location_searching:before {
  content: "\eb09";
}
.md_ic_lock_open:before {
  content: "\eb0a";
}
.md_ic_lock_outline:before {
  content: "\eb0b";
}
.md_ic_lock:before {
  content: "\eb0c";
}
.md_ic_looks_3:before {
  content: "\eb0d";
}
.md_ic_looks_4:before {
  content: "\eb0e";
}
.md_ic_looks_5:before {
  content: "\eb0f";
}
.md_ic_looks_6:before {
  content: "\eb10";
}
.md_ic_looks_one:before {
  content: "\eb11";
}
.md_ic_looks_two:before {
  content: "\eb12";
}
.md_ic_looks:before {
  content: "\eb13";
}
.md_ic_loop:before {
  content: "\eb14";
}
.md_ic_loupe:before {
  content: "\eb15";
}
.md_ic_low_priority:before {
  content: "\eb16";
}
.md_ic_loyalty:before {
  content: "\eb17";
}
.md_ic_mail_outline:before {
  content: "\eb18";
}
.md_ic_mail:before {
  content: "\eb19";
}
.md_ic_map:before {
  content: "\eb1a";
}
.md_ic_markunread_mailbox:before {
  content: "\eb1b";
}
.md_ic_markunread:before {
  content: "\eb1c";
}
.md_ic_memory:before {
  content: "\eb1d";
}
.md_ic_menu:before {
  content: "\eb1e";
}
.md_ic_merge_type:before {
  content: "\eb1f";
}
.md_ic_message:before {
  content: "\eb20";
}
.md_ic_mic_none:before {
  content: "\eb21";
}
.md_ic_mic_off:before {
  content: "\eb22";
}
.md_ic_mic:before {
  content: "\eb23";
}
.md_ic_mms:before {
  content: "\eb24";
}
.md_ic_mode_comment:before {
  content: "\eb25";
}
.md_ic_mode_edit:before {
  content: "\eb26";
}
.md_ic_monetization_on:before {
  content: "\eb27";
}
.md_ic_monochrome_photos:before {
  content: "\eb28";
}
.md_ic_mood_bad:before {
  content: "\eb29";
}
.md_ic_mood:before {
  content: "\eb2a";
}
.md_ic_more_horiz:before {
  content: "\eb2b";
}
.md_ic_more_vert:before {
  content: "\eb2c";
}
.md_ic_more:before {
  content: "\eb2d";
}
.md_ic_motorcycle:before {
  content: "\eb2e";
}
.md_ic_mouse:before {
  content: "\eb2f";
}
.md_ic_move_to_inbox:before {
  content: "\eb30";
}
.md_ic_movie_creation:before {
  content: "\eb31";
}
.md_ic_movie_filter:before {
  content: "\eb32";
}
.md_ic_movie:before {
  content: "\eb33";
}
.md_ic_multiline_chart:before {
  content: "\eb34";
}
.md_ic_music_note:before {
  content: "\eb35";
}
.md_ic_music_video:before {
  content: "\eb36";
}
.md_ic_my_location:before {
  content: "\eb37";
}
.md_ic_nature_people:before {
  content: "\eb38";
}
.md_ic_nature:before {
  content: "\eb39";
}
.md_ic_navigate_before:before {
  content: "\eb3a";
}
.md_ic_navigate_next:before {
  content: "\eb3b";
}
.md_ic_navigation:before {
  content: "\eb3c";
}
.md_ic_near_me:before {
  content: "\eb3d";
}
.md_ic_network_cell .path1:before {
  content: "\eb3e";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_network_cell .path2:before {
  content: "\eb3f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_network_check:before {
  content: "\eb40";
}
.md_ic_network_locked:before {
  content: "\eb41";
}
.md_ic_network_wifi .path1:before {
  content: "\eb42";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_network_wifi .path2:before {
  content: "\eb43";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_new_releases:before {
  content: "\eb44";
}
.md_ic_next_week:before {
  content: "\eb45";
}
.md_ic_nfc:before {
  content: "\eb46";
}
.md_ic_no_encryption:before {
  content: "\eb47";
}
.md_ic_no_sim:before {
  content: "\eb48";
}
.md_ic_not_interested:before {
  content: "\eb49";
}
.md_ic_note_add:before {
  content: "\eb4a";
}
.md_ic_note:before {
  content: "\eb4b";
}
.md_ic_notifications_active:before {
  content: "\eb4c";
}
.md_ic_notifications_none:before {
  content: "\eb4d";
}
.md_ic_notifications_off:before {
  content: "\eb4e";
}
.md_ic_notifications_paused:before {
  content: "\eb4f";
}
.md_ic_notifications:before {
  content: "\eb50";
}
.md_ic_ondemand_video:before {
  content: "\eb51";
}
.md_ic_opacity:before {
  content: "\eb52";
}
.md_ic_open_in_browser:before {
  content: "\eb53";
}
.md_ic_open_in_new:before {
  content: "\eb54";
}
.md_ic_open_with:before {
  content: "\eb55";
}
.md_ic_pages:before {
  content: "\eb56";
}
.md_ic_pageview:before {
  content: "\eb57";
}
.md_ic_palette:before {
  content: "\eb58";
}
.md_ic_pan_tool:before {
  content: "\eb59";
}
.md_ic_panorama_fish_eye:before {
  content: "\eb5a";
}
.md_ic_panorama_horizontal:before {
  content: "\eb5b";
}
.md_ic_panorama_vertical:before {
  content: "\eb5c";
}
.md_ic_panorama_wide_angle:before {
  content: "\eb5d";
}
.md_ic_panorama:before {
  content: "\eb5e";
}
.md_ic_party_mode:before {
  content: "\eb5f";
}
.md_ic_pause_circle_filled:before {
  content: "\eb60";
}
.md_ic_pause_circle_outline:before {
  content: "\eb61";
}
.md_ic_pause:before {
  content: "\eb62";
}
.md_ic_payment:before {
  content: "\eb63";
}
.md_ic_people_outline:before {
  content: "\eb64";
}
.md_ic_people:before {
  content: "\eb65";
}
.md_ic_perm_camera_mic:before {
  content: "\eb66";
}
.md_ic_perm_contact_calendar:before {
  content: "\eb67";
}
.md_ic_perm_data_setting:before {
  content: "\eb68";
}
.md_ic_perm_device_information:before {
  content: "\eb69";
}
.md_ic_perm_identity:before {
  content: "\eb6a";
}
.md_ic_perm_media:before {
  content: "\eb6b";
}
.md_ic_perm_phone_msg:before {
  content: "\eb6c";
}
.md_ic_perm_scan_wifi:before {
  content: "\eb6d";
}
.md_ic_person_add:before {
  content: "\eb6e";
}
.md_ic_person_outline:before {
  content: "\eb6f";
}
.md_ic_person_pin_circle:before {
  content: "\eb70";
}
.md_ic_person_pin:before {
  content: "\eb71";
}
.md_ic_person:before {
  content: "\eb72";
}
.md_ic_personal_video:before {
  content: "\eb73";
}
.md_ic_pets:before {
  content: "\eb74";
}
.md_ic_phone_android:before {
  content: "\eb75";
}
.md_ic_phone_bluetooth_speaker:before {
  content: "\eb76";
}
.md_ic_phone_forwarded:before {
  content: "\eb77";
}
.md_ic_phone_in_talk:before {
  content: "\eb78";
}
.md_ic_phone_iphone:before {
  content: "\eb79";
}
.md_ic_phone_locked:before {
  content: "\eb7a";
}
.md_ic_phone_missed:before {
  content: "\eb7b";
}
.md_ic_phone_paused:before {
  content: "\eb7c";
}
.md_ic_phone:before {
  content: "\eb7d";
}
.md_ic_phonelink_off:before {
  content: "\eb7e";
}
.md_ic_phonelink:before {
  content: "\eb7f";
}
.md_ic_photo_album:before {
  content: "\eb80";
}
.md_ic_photo_camera:before {
  content: "\eb81";
}
.md_ic_photo_filter:before {
  content: "\eb82";
}
.md_ic_photo_library:before {
  content: "\eb83";
}
.md_ic_photo:before {
  content: "\eb84";
}
.md_ic_picture_as_pdf:before {
  content: "\eb85";
}
.md_ic_picture_in_picture_alt:before {
  content: "\eb86";
}
.md_ic_picture_in_picture:before {
  content: "\eb87";
}
.md_ic_pie_chart_outlined:before {
  content: "\eb88";
}
.md_ic_pie_chart:before {
  content: "\eb89";
}
.md_ic_pin_drop:before {
  content: "\eb8a";
}
.md_ic_place:before {
  content: "\eb8b";
}
.md_ic_play_arrow:before {
  content: "\eb8c";
}
.md_ic_play_circle_filled_white:before {
  content: "\eb8d";
  color: #fff;
}
.md_ic_play_circle_filled:before {
  content: "\eb8e";
}
.md_ic_play_circle_outline:before {
  content: "\eb8f";
}
.md_ic_play_for_work:before {
  content: "\eb90";
}
.md_ic_playlist_add_check:before {
  content: "\eb91";
}
.md_ic_playlist_add:before {
  content: "\eb92";
}
.md_ic_playlist_play:before {
  content: "\eb93";
}
.md_ic_plus_one:before {
  content: "\eb94";
}
.md_ic_poll:before {
  content: "\eb95";
}
.md_ic_polymer:before {
  content: "\eb96";
}
.md_ic_pool:before {
  content: "\eb97";
}
.md_ic_portable_wifi_off:before {
  content: "\eb98";
}
.md_ic_portrait:before {
  content: "\eb99";
}
.md_ic_power_input:before {
  content: "\eb9a";
}
.md_ic_power_settings_new:before {
  content: "\eb9b";
}
.md_ic_power:before {
  content: "\eb9c";
}
.md_ic_pregnant_woman:before {
  content: "\eb9d";
}
.md_ic_present_to_all:before {
  content: "\eb9e";
}
.md_ic_print:before {
  content: "\eb9f";
}
.md_ic_priority_high:before {
  content: "\eba0";
}
.md_ic_public:before {
  content: "\eba1";
}
.md_ic_publish:before {
  content: "\eba2";
}
.md_ic_query_builder:before {
  content: "\eba3";
}
.md_ic_question_answer:before {
  content: "\eba4";
}
.md_ic_queue_music:before {
  content: "\eba5";
}
.md_ic_queue_play_next:before {
  content: "\eba6";
}
.md_ic_queue:before {
  content: "\eba7";
}
.md_ic_radio_button_checked:before {
  content: "\eba8";
}
.md_ic_radio_button_unchecked:before {
  content: "\eba9";
}
.md_ic_radio:before {
  content: "\ebaa";
}
.md_ic_rate_review:before {
  content: "\ebab";
}
.md_ic_receipt:before {
  content: "\ebac";
}
.md_ic_recent_actors:before {
  content: "\ebad";
}
.md_ic_record_voice_over:before {
  content: "\ebae";
}
.md_ic_redeem:before {
  content: "\ebaf";
}
.md_ic_redo:before {
  content: "\ebb0";
}
.md_ic_refresh:before {
  content: "\ebb1";
}
.md_ic_remove_circle_outline:before {
  content: "\ebb2";
}
.md_ic_remove_circle:before {
  content: "\ebb3";
}
.md_ic_remove_from_queue:before {
  content: "\ebb4";
}
.md_ic_remove_red_eye:before {
  content: "\ebb5";
}
.md_ic_remove_shopping_cart:before {
  content: "\ebb6";
}
.md_ic_remove:before {
  content: "\ebb7";
}
.md_ic_repeat_one:before {
  content: "\ebb8";
}
.md_ic_repeat:before {
  content: "\ebb9";
}
.md_ic_replay_5:before {
  content: "\ebba";
}
.md_ic_replay_10:before {
  content: "\ebbb";
}
.md_ic_replay_30:before {
  content: "\ebbc";
}
.md_ic_replay:before {
  content: "\ebbd";
}
.md_ic_reply_all:before {
  content: "\ebbe";
}
.md_ic_reply:before {
  content: "\ebbf";
}
.md_ic_report_problem:before {
  content: "\ebc0";
}
.md_ic_report:before {
  content: "\ebc1";
}
.md_ic_restaurant_menu:before {
  content: "\ebc2";
}
.md_ic_restaurant:before {
  content: "\ebc3";
}
.md_ic_restore_page:before {
  content: "\ebc4";
}
.md_ic_restore:before {
  content: "\ebc5";
}
.md_ic_ring_volume:before {
  content: "\ebc6";
}
.md_ic_room_service:before {
  content: "\ebc7";
}
.md_ic_room:before {
  content: "\ebc8";
}
.md_ic_rotate_90_degrees_ccw:before {
  content: "\ebc9";
}
.md_ic_rotate_left:before {
  content: "\ebca";
}
.md_ic_rotate_right:before {
  content: "\ebcb";
}
.md_ic_rounded_corner:before {
  content: "\ebcc";
}
.md_ic_router:before {
  content: "\ebcd";
}
.md_ic_rowing:before {
  content: "\ebce";
}
.md_ic_rss_feed:before {
  content: "\ebcf";
}
.md_ic_rv_hookup:before {
  content: "\ebd0";
}
.md_ic_satellite:before {
  content: "\ebd1";
}
.md_ic_save:before {
  content: "\ebd2";
}
.md_ic_scanner .path1:before {
  content: "\ebd3";
  color: rgb(255, 255, 255);
}
.md_ic_scanner .path2:before {
  content: "\ebd4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_schedule:before {
  content: "\ebd5";
}
.md_ic_school:before {
  content: "\ebd6";
}
.md_ic_screen_lock_landscape:before {
  content: "\ebd7";
}
.md_ic_screen_lock_portrait:before {
  content: "\ebd8";
}
.md_ic_screen_lock_rotation:before {
  content: "\ebd9";
}
.md_ic_screen_rotation:before {
  content: "\ebda";
}
.md_ic_screen_share:before {
  content: "\ebdb";
}
.md_ic_sd_card:before {
  content: "\ebdc";
}
.md_ic_sd_storage:before {
  content: "\ebdd";
}
.md_ic_search:before {
  content: "\ebde";
}
.md_ic_security:before {
  content: "\ebdf";
}
.md_ic_select_all:before {
  content: "\ebe0";
}
.md_ic_send:before {
  content: "\ebe1";
}
.md_ic_sentiment_dissatisfied:before {
  content: "\ebe2";
}
.md_ic_sentiment_neutral:before {
  content: "\ebe3";
}
.md_ic_sentiment_satisfied:before {
  content: "\ebe4";
}
.md_ic_sentiment_very_dissatisfied:before {
  content: "\ebe5";
}
.md_ic_sentiment_very_satisfied:before {
  content: "\ebe6";
}
.md_ic_settings_applications:before {
  content: "\ebe7";
}
.md_ic_settings_backup_restore:before {
  content: "\ebe8";
}
.md_ic_settings_bluetooth:before {
  content: "\ebe9";
}
.md_ic_settings_brightness:before {
  content: "\ebea";
}
.md_ic_settings_cell:before {
  content: "\ebeb";
}
.md_ic_settings_ethernet:before {
  content: "\ebec";
}
.md_ic_settings_input_antenna:before {
  content: "\ebed";
}
.md_ic_settings_input_component:before {
  content: "\ebee";
}
.md_ic_settings_input_composite:before {
  content: "\ebef";
}
.md_ic_settings_input_hdmi:before {
  content: "\ebf0";
}
.md_ic_settings_input_svideo:before {
  content: "\ebf1";
}
.md_ic_settings_overscan:before {
  content: "\ebf2";
}
.md_ic_settings_phone:before {
  content: "\ebf3";
}
.md_ic_settings_power:before {
  content: "\ebf4";
}
.md_ic_settings_remote:before {
  content: "\ebf5";
}
.md_ic_settings_system_daydream:before {
  content: "\ebf6";
}
.md_ic_settings_voice:before {
  content: "\ebf7";
}
.md_ic_settings:before {
  content: "\ebf8";
}
.md_ic_share:before {
  content: "\ebf9";
}
.md_ic_shop_two:before {
  content: "\ebfa";
}
.md_ic_shop:before {
  content: "\ebfb";
}
.md_ic_shopping_basket:before {
  content: "\ebfc";
}
.md_ic_shopping_cart:before {
  content: "\ebfd";
}
.md_ic_short_text:before {
  content: "\ebfe";
}
.md_ic_show_chart:before {
  content: "\ebff";
}
.md_ic_shuffle:before {
  content: "\ec00";
}
.md_ic_signal_cellular_0_bar:before {
  content: "\ec01";
}
.md_ic_signal_cellular_1_bar .path1:before {
  content: "\ec02";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_cellular_1_bar .path2:before {
  content: "\ec03";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_cellular_2_bar .path1:before {
  content: "\ec04";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_cellular_2_bar .path2:before {
  content: "\ec05";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_cellular_3_bar .path1:before {
  content: "\ec06";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_cellular_3_bar .path2:before {
  content: "\ec07";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_cellular_4_bar:before {
  content: "\ec08";
}
.md_ic_signal_cellular_connected_no_internet_0_bar .path1:before {
  content: "\ec09";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_cellular_connected_no_internet_0_bar .path2:before {
  content: "\ec0a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_cellular_connected_no_internet_1_bar .path1:before {
  content: "\ec0b";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_cellular_connected_no_internet_1_bar .path2:before {
  content: "\ec0c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_cellular_connected_no_internet_2_bar .path1:before {
  content: "\ec0d";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_cellular_connected_no_internet_2_bar .path2:before {
  content: "\ec0e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_cellular_connected_no_internet_3_bar .path1:before {
  content: "\ec0f";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_cellular_connected_no_internet_3_bar .path2:before {
  content: "\ec10";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_cellular_connected_no_internet_4_bar:before {
  content: "\ec11";
}
.md_ic_signal_cellular_no_sim:before {
  content: "\ec12";
}
.md_ic_signal_cellular_null:before {
  content: "\ec13";
}
.md_ic_signal_cellular_off:before {
  content: "\ec14";
}
.md_ic_signal_wifi_0_bar:before {
  content: "\ec15";
}
.md_ic_signal_wifi_1_bar_lock .path1:before {
  content: "\ec16";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_wifi_1_bar_lock .path2:before {
  content: "\ec17";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_wifi_1_bar .path1:before {
  content: "\ec18";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_wifi_1_bar .path2:before {
  content: "\ec19";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_wifi_2_bar_lock .path1:before {
  content: "\ec1a";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_wifi_2_bar_lock .path2:before {
  content: "\ec1b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_wifi_2_bar .path1:before {
  content: "\ec1c";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_wifi_2_bar .path2:before {
  content: "\ec1d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_wifi_3_bar_lock .path1:before {
  content: "\ec1e";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_wifi_3_bar_lock .path2:before {
  content: "\ec1f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_wifi_3_bar .path1:before {
  content: "\ec20";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.md_ic_signal_wifi_3_bar .path2:before {
  content: "\ec21";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_signal_wifi_4_bar_lock:before {
  content: "\ec22";
}
.md_ic_signal_wifi_4_bar:before {
  content: "\ec23";
}
.md_ic_signal_wifi_off:before {
  content: "\ec24";
}
.md_ic_sim_card_alert:before {
  content: "\ec25";
}
.md_ic_sim_card:before {
  content: "\ec26";
}
.md_ic_skip_next:before {
  content: "\ec27";
}
.md_ic_skip_previous:before {
  content: "\ec28";
}
.md_ic_slideshow:before {
  content: "\ec29";
}
.md_ic_slow_motion_video:before {
  content: "\ec2a";
}
.md_ic_smartphone:before {
  content: "\ec2b";
}
.md_ic_smoke_free:before {
  content: "\ec2c";
}
.md_ic_smoking_rooms:before {
  content: "\ec2d";
}
.md_ic_sms_failed:before {
  content: "\ec2e";
}
.md_ic_sms:before {
  content: "\ec2f";
}
.md_ic_snooze:before {
  content: "\ec30";
}
.md_ic_sort:before {
  content: "\ec31";
}
.md_ic_spa .path1:before {
  content: "\ec32";
  color: rgb(96, 125, 139);
}
.md_ic_spa .path2:before {
  content: "\ec33";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.md_ic_space_bar:before {
  content: "\ec34";
}
.md_ic_speaker_group:before {
  content: "\ec35";
}
.md_ic_speaker_notes_off:before {
  content: "\ec36";
}
.md_ic_speaker_notes:before {
  content: "\ec37";
}
.md_ic_speaker_phone:before {
  content: "\ec38";
}
.md_ic_speaker:before {
  content: "\ec39";
}
.md_ic_spellcheck:before {
  content: "\ec3a";
}
.md_ic_star_half:before {
  content: "\ec3b";
}
.md_ic_stars:before {
  content: "\ec3c";
}
.md_ic_stay_current_landscape:before {
  content: "\ec3d";
}
.md_ic_stay_current_portrait:before {
  content: "\ec3e";
}
.md_ic_stay_primary_landscape:before {
  content: "\ec3f";
}
.md_ic_stay_primary_portrait:before {
  content: "\ec40";
}
.md_ic_stop_screen_share:before {
  content: "\ec41";
}
.md_ic_stop:before {
  content: "\ec42";
}
.md_ic_storage:before {
  content: "\ec43";
}
.md_ic_store_mall_directory:before {
  content: "\ec44";
}
.md_ic_store:before {
  content: "\ec45";
}
.md_ic_straighten:before {
  content: "\ec46";
}
.md_ic_streetview:before {
  content: "\ec47";
}
.md_ic_strikethrough_s:before {
  content: "\ec48";
}
.md_ic_style:before {
  content: "\ec49";
}
.md_ic_subdirectory_arrow_left:before {
  content: "\ec4a";
}
.md_ic_subdirectory_arrow_right:before {
  content: "\ec4b";
}
.md_ic_subject:before {
  content: "\ec4c";
}
.md_ic_subscriptions:before {
  content: "\ec4d";
}
.md_ic_subtitles:before {
  content: "\ec4e";
}
.md_ic_subway:before {
  content: "\ec4f";
}
.md_ic_supervisor_account:before {
  content: "\ec50";
}
.md_ic_surround_sound:before {
  content: "\ec51";
}
.md_ic_swap_calls:before {
  content: "\ec52";
}
.md_ic_swap_horiz:before {
  content: "\ec53";
}
.md_ic_swap_vert:before {
  content: "\ec54";
}
.md_ic_swap_vertical_circle:before {
  content: "\ec55";
}
.md_ic_switch_camera:before {
  content: "\ec56";
}
.md_ic_switch_video:before {
  content: "\ec57";
}
.md_ic_sync_disabled:before {
  content: "\ec58";
}
.md_ic_sync_problem:before {
  content: "\ec59";
}
.md_ic_sync:before {
  content: "\ec5a";
}
.md_ic_system_update_alt:before {
  content: "\ec5b";
}
.md_ic_system_update:before {
  content: "\ec5c";
}
.md_ic_tab_unselected:before {
  content: "\ec5d";
}
.md_ic_tab:before {
  content: "\ec5e";
}
.md_ic_tablet_android:before {
  content: "\ec5f";
}
.md_ic_tablet_mac:before {
  content: "\ec60";
}
.md_ic_tablet:before {
  content: "\ec61";
}
.md_ic_tag_faces:before {
  content: "\ec62";
}
.md_ic_tap_and_play:before {
  content: "\ec63";
}
.md_ic_terrain:before {
  content: "\ec64";
}
.md_ic_text_fields:before {
  content: "\ec65";
}
.md_ic_text_format:before {
  content: "\ec66";
}
.md_ic_textsms:before {
  content: "\ec67";
}
.md_ic_texture:before {
  content: "\ec68";
}
.md_ic_theaters:before {
  content: "\ec69";
}
.md_ic_thumb_down:before {
  content: "\ec6a";
}
.md_ic_thumb_up:before {
  content: "\ec6b";
}
.md_ic_thumbs_up_down:before {
  content: "\ec6c";
}
.md_ic_time_to_leave:before {
  content: "\ec6d";
}
.md_ic_timelapse:before {
  content: "\ec6e";
}
.md_ic_timeline:before {
  content: "\ec6f";
}
.md_ic_timer_3:before {
  content: "\ec70";
}
.md_ic_timer_10:before {
  content: "\ec71";
}
.md_ic_timer_off:before {
  content: "\ec72";
}
.md_ic_timer:before {
  content: "\ec73";
}
.md_ic_title:before {
  content: "\ec74";
}
.md_ic_toc:before {
  content: "\ec75";
}
.md_ic_today:before {
  content: "\ec76";
}
.md_ic_toll:before {
  content: "\ec77";
}
.md_ic_tonality:before {
  content: "\ec78";
}
.md_ic_touch_app:before {
  content: "\ec79";
}
.md_ic_toys:before {
  content: "\ec7a";
}
.md_ic_track_changes:before {
  content: "\ec7b";
}
.md_ic_traffic:before {
  content: "\ec7c";
}
.md_ic_train:before {
  content: "\ec7d";
}
.md_ic_tram:before {
  content: "\ec7e";
}
.md_ic_transfer_within_a_station:before {
  content: "\ec7f";
}
.md_ic_transform:before {
  content: "\ec80";
}
.md_ic_translate:before {
  content: "\ec81";
}
.md_ic_trending_down:before {
  content: "\ec82";
}
.md_ic_trending_flat:before {
  content: "\ec83";
}
.md_ic_trending_up:before {
  content: "\ec84";
}
.md_ic_tune:before {
  content: "\ec85";
}
.md_ic_turned_in_not:before {
  content: "\ec86";
}
.md_ic_turned_in:before {
  content: "\ec87";
}
.md_ic_tv:before {
  content: "\ec88";
}
.md_ic_unarchive:before {
  content: "\ec89";
}
.md_ic_undo:before {
  content: "\ec8a";
}
.md_ic_unfold_less:before {
  content: "\ec8b";
}
.md_ic_unfold_more:before {
  content: "\ec8c";
}
.md_ic_update:before {
  content: "\ec8d";
}
.md_ic_usb:before {
  content: "\ec8e";
}
.md_ic_verified_user:before {
  content: "\ec8f";
}
.md_ic_vertical_align_bottom:before {
  content: "\ec90";
}
.md_ic_vertical_align_center:before {
  content: "\ec91";
}
.md_ic_vertical_align_top:before {
  content: "\ec92";
}
.md_ic_vibration:before {
  content: "\ec93";
}
.md_ic_video_call:before {
  content: "\ec94";
}
.md_ic_video_label:before {
  content: "\ec95";
}
.md_ic_video_library:before {
  content: "\ec96";
}
.md_ic_videocam_off:before {
  content: "\ec97";
}
.md_ic_videocam:before {
  content: "\ec98";
}
.md_ic_videogame_asset:before {
  content: "\ec99";
}
.md_ic_view_agenda:before {
  content: "\ec9a";
}
.md_ic_view_array:before {
  content: "\ec9b";
}
.md_ic_view_carousel:before {
  content: "\ec9c";
}
.md_ic_view_column:before {
  content: "\ec9d";
}
.md_ic_view_comfy:before {
  content: "\ec9e";
}
.md_ic_view_compact:before {
  content: "\ec9f";
}
.md_ic_view_day:before {
  content: "\eca0";
}
.md_ic_view_headline:before {
  content: "\eca1";
}
.md_ic_view_list:before {
  content: "\eca2";
}
.md_ic_view_module:before {
  content: "\eca3";
}
.md_ic_view_quilt:before {
  content: "\eca4";
}
.md_ic_view_stream:before {
  content: "\eca5";
}
.md_ic_view_week:before {
  content: "\eca6";
}
.md_ic_visibility_off:before {
  content: "\eca7";
}
.md_ic_visibility:before {
  content: "\eca8";
}
.md_ic_voice_chat:before {
  content: "\eca9";
}
.md_ic_voicemail:before {
  content: "\ecaa";
}
.md_ic_volume_down:before {
  content: "\ecab";
}
.md_ic_volume_mute:before {
  content: "\ecac";
}
.md_ic_volume_off:before {
  content: "\ecad";
}
.md_ic_volume_up:before {
  content: "\ecae";
}
.md_ic_vpn_key:before {
  content: "\ecaf";
}
.md_ic_vpn_lock:before {
  content: "\ecb0";
}
.md_ic_wallpaper:before {
  content: "\ecb1";
}
.md_ic_warning:before {
  content: "\ecb2";
}
.md_ic_watch_later:before {
  content: "\ecb3";
}
.md_ic_watch:before {
  content: "\ecb4";
}
.md_ic_wb_auto:before {
  content: "\ecb5";
}
.md_ic_wb_cloudy:before {
  content: "\ecb6";
}
.md_ic_wb_incandescent:before {
  content: "\ecb7";
}
.md_ic_wb_iridescent:before {
  content: "\ecb8";
}
.md_ic_wb_sunny:before {
  content: "\ecb9";
}
.md_ic_wc:before {
  content: "\ecba";
}
.md_ic_web_asset:before {
  content: "\ecbb";
}
.md_ic_web:before {
  content: "\ecbc";
}
.md_ic_weekend:before {
  content: "\ecbd";
}
.md_ic_whatshot:before {
  content: "\ecbe";
}
.md_ic_widgets:before {
  content: "\ecbf";
}
.md_ic_wifi_lock:before {
  content: "\ecc0";
}
.md_ic_wifi_tethering:before {
  content: "\ecc1";
}
.md_ic_wifi:before {
  content: "\ecc2";
}
.md_ic_work:before {
  content: "\ecc3";
}
.md_ic_wrap_text:before {
  content: "\ecc4";
}
.md_ic_youtube_searched_for:before {
  content: "\ecc5";
}
.md_ic_zoom_out_map:before {
  content: "\ecc6";
}
