$icomoon-font-path: "fonts" !default;

$md_ic_3d_rotation: \e900;
$md_ic_ac_unit: \e901;
$md_ic_access_alarm: \e902;
$md_ic_access_alarms: \e903;
$md_ic_access_time: \e904;
$md_ic_accessibility: \e905;
$md_ic_accessible: \e906;
$md_ic_account_balance_wallet: \e907;
$md_ic_account_balance: \e908;
$md_ic_account_box: \e909;
$md_ic_account_circle: \e90a;
$md_ic_adb: \e90b;
$md_ic_add_a_photo: \e90c;
$md_ic_add_alarm: \e90d;
$md_ic_add_alert: \e90e;
$md_ic_add_box: \e90f;
$md_ic_add_circle_outline: \e910;
$md_ic_add_circle: \e911;
$md_ic_add_location: \e912;
$md_ic_add_shopping_cart: \e913;
$md_ic_add_to_photos: \e914;
$md_ic_add_to_queue: \e915;
$md_ic_add: \e916;
$md_ic_adjust: \e917;
$md_ic_airline_seat_flat_angled: \e918;
$md_ic_airline_seat_flat: \e919;
$md_ic_airline_seat_individual_suite: \e91a;
$md_ic_airline_seat_legroom_extra: \e91b;
$md_ic_airline_seat_legroom_normal: \e91c;
$md_ic_airline_seat_legroom_reduced: \e91d;
$md_ic_airline_seat_recline_extra: \e91e;
$md_ic_airline_seat_recline_normal: \e91f;
$md_ic_airplanemode_active: \e920;
$md_ic_airplanemode_inactive: \e921;
$md_ic_airplay: \e922;
$md_ic_airport_shuttle: \e923;
$md_ic_alarm_add: \e924;
$md_ic_alarm_off: \e925;
$md_ic_alarm_on: \e926;
$md_ic_alarm: \e927;
$md_ic_album: \e928;
$md_ic_all_inclusive: \e929;
$md_ic_all_out: \e92a;
$md_ic_android: \e92b;
$md_ic_announcement: \e92c;
$md_ic_apps: \e92d;
$md_ic_archive: \e92e;
$md_ic_arrow_back: \e92f;
$md_ic_arrow_downward: \e930;
$md_ic_arrow_drop_down_circle: \e931;
$md_ic_arrow_drop_down: \e932;
$md_ic_arrow_drop_up: \e933;
$md_ic_arrow_forward: \e934;
$md_ic_arrow_upward: \e935;
$md_ic_art_track: \e936;
$md_ic_aspect_ratio: \e937;
$md_ic_assessment: \e938;
$md_ic_assignment_ind: \e939;
$md_ic_assignment_late: \e93a;
$md_ic_assignment_return: \e93b;
$md_ic_assignment_returned: \e93c;
$md_ic_assignment_turned_in: \e93d;
$md_ic_assignment: \e93e;
$md_ic_assistant_photo: \e93f;
$md_ic_assistant: \e940;
$md_ic_attach_file: \e941;
$md_ic_attach_money: \e942;
$md_ic_attachment: \e943;
$md_ic_audiotrack: \e944;
$md_ic_autorenew: \e945;
$md_ic_av_timer: \e946;
$md_ic_backspace: \e947;
$md_ic_backup: \e948;
$md_ic_battery_20-path1: \e949;
$md_ic_battery_20-path2: \e94a;
$md_ic_battery_30-path1: \e94b;
$md_ic_battery_30-path2: \e94c;
$md_ic_battery_50-path1: \e94d;
$md_ic_battery_50-path2: \e94e;
$md_ic_battery_60-path1: \e94f;
$md_ic_battery_60-path2: \e950;
$md_ic_battery_80-path1: \e951;
$md_ic_battery_80-path2: \e952;
$md_ic_battery_90-path1: \e953;
$md_ic_battery_90-path2: \e954;
$md_ic_battery_alert: \e955;
$md_ic_battery_charging_20-path1: \e956;
$md_ic_battery_charging_20-path2: \e957;
$md_ic_battery_charging_30-path1: \e958;
$md_ic_battery_charging_30-path2: \e959;
$md_ic_battery_charging_50-path1: \e95a;
$md_ic_battery_charging_50-path2: \e95b;
$md_ic_battery_charging_60-path1: \e95c;
$md_ic_battery_charging_60-path2: \e95d;
$md_ic_battery_charging_80-path1: \e95e;
$md_ic_battery_charging_80-path2: \e95f;
$md_ic_battery_charging_90-path1: \e960;
$md_ic_battery_charging_90-path2: \e961;
$md_ic_battery_charging_full: \e962;
$md_ic_battery_full: \e963;
$md_ic_battery_std: \e964;
$md_ic_battery_unknown: \e965;
$md_ic_beach_access: \e966;
$md_ic_beenhere: \e967;
$md_ic_block: \e968;
$md_ic_bluetooth_audio: \e969;
$md_ic_bluetooth_connected: \e96a;
$md_ic_bluetooth_disabled: \e96b;
$md_ic_bluetooth_searching: \e96c;
$md_ic_bluetooth: \e96d;
$md_ic_blur_circular: \e96e;
$md_ic_blur_linear: \e96f;
$md_ic_blur_off: \e970;
$md_ic_blur_on: \e971;
$md_ic_book: \e972;
$md_ic_bookmark_border: \e973;
$md_ic_bookmark: \e974;
$md_ic_border_all: \e975;
$md_ic_border_bottom: \e976;
$md_ic_border_clear: \e977;
$md_ic_border_color-path1: \e978;
$md_ic_border_color-path2: \e979;
$md_ic_border_horizontal: \e97a;
$md_ic_border_inner: \e97b;
$md_ic_border_left: \e97c;
$md_ic_border_outer: \e97d;
$md_ic_border_right: \e97e;
$md_ic_border_style: \e97f;
$md_ic_border_top: \e980;
$md_ic_border_vertical: \e981;
$md_ic_branding_watermark: \e982;
$md_ic_brightness_1: \e983;
$md_ic_brightness_2: \e984;
$md_ic_brightness_3: \e985;
$md_ic_brightness_4: \e986;
$md_ic_brightness_5: \e987;
$md_ic_brightness_6: \e988;
$md_ic_brightness_7: \e989;
$md_ic_brightness_auto: \e98a;
$md_ic_brightness_high: \e98b;
$md_ic_brightness_low: \e98c;
$md_ic_brightness_medium: \e98d;
$md_ic_broken_image: \e98e;
$md_ic_brush: \e98f;
$md_ic_bubble_chart: \e990;
$md_ic_bug_report: \e991;
$md_ic_build: \e992;
$md_ic_burst_mode: \e993;
$md_ic_business_center: \e994;
$md_ic_business: \e995;
$md_ic_cached: \e996;
$md_ic_cake: \e997;
$md_ic_call_end: \e998;
$md_ic_call_made: \e999;
$md_ic_call_merge: \e99a;
$md_ic_call_missed_outgoing: \e99b;
$md_ic_call_missed: \e99c;
$md_ic_call_received: \e99d;
$md_ic_call_split: \e99e;
$md_ic_call_to_action: \e99f;
$md_ic_call: \e9a0;
$md_ic_camera_alt: \e9a1;
$md_ic_camera_front: \e9a2;
$md_ic_camera_rear: \e9a3;
$md_ic_camera_roll: \e9a4;
$md_ic_camera: \e9a5;
$md_ic_cancel: \e9a6;
$md_ic_card_giftcard: \e9a7;
$md_ic_card_membership: \e9a8;
$md_ic_card_travel: \e9a9;
$md_ic_casino: \e9aa;
$md_ic_cast_connected: \e9ab;
$md_ic_cast: \e9ac;
$md_ic_center_focus_strong: \e9ad;
$md_ic_center_focus_weak: \e9ae;
$md_ic_change_history: \e9af;
$md_ic_chat_bubble_outline: \e9b0;
$md_ic_chat_bubble: \e9b1;
$md_ic_chat: \e9b2;
$md_ic_check_box_outline_blank: \e9b3;
$md_ic_check_box: \e9b4;
$md_ic_check_circle: \e9b5;
$md_ic_check: \e9b6;
$md_ic_chevron_left: \e9b7;
$md_ic_chevron_right: \e9b8;
$md_ic_child_care: \e9b9;
$md_ic_child_friendly: \e9ba;
$md_ic_chrome_reader_mode: \e9bb;
$md_ic_class: \e9bc;
$md_ic_clear_all: \e9bd;
$md_ic_clear: \e9be;
$md_ic_close: \e9bf;
$md_ic_closed_caption: \e9c0;
$md_ic_cloud_circle: \e9c1;
$md_ic_cloud_done: \e9c2;
$md_ic_cloud_download: \e9c3;
$md_ic_cloud_off: \e9c4;
$md_ic_cloud_queue: \e9c5;
$md_ic_cloud_upload: \e9c6;
$md_ic_cloud: \e9c7;
$md_ic_code: \e9c8;
$md_ic_collections: \e9c9;
$md_ic_color_lens: \e9ca;
$md_ic_colorize: \e9cb;
$md_ic_comment: \e9cc;
$md_ic_compare_arrows: \e9cd;
$md_ic_compare: \e9ce;
$md_ic_computer: \e9cf;
$md_ic_confirmation_number: \e9d0;
$md_ic_contact_mail: \e9d1;
$md_ic_contact_phone: \e9d2;
$md_ic_contacts: \e9d3;
$md_ic_content_copy: \e9d4;
$md_ic_content_cut: \e9d5;
$md_ic_content_paste: \e9d6;
$md_ic_control_point_duplicate: \e9d7;
$md_ic_control_point: \e9d8;
$md_ic_copyright: \e9d9;
$md_ic_create_new_folder: \e9da;
$md_ic_create: \e9db;
$md_ic_credit_card: \e9dc;
$md_ic_crop_3_2: \e9dd;
$md_ic_crop_5_4: \e9de;
$md_ic_crop_7_5: \e9df;
$md_ic_crop_16_9: \e9e0;
$md_ic_crop_din: \e9e1;
$md_ic_crop_free: \e9e2;
$md_ic_crop_landscape: \e9e3;
$md_ic_crop_original: \e9e4;
$md_ic_crop_portrait: \e9e5;
$md_ic_crop_rotate: \e9e6;
$md_ic_crop_square: \e9e7;
$md_ic_crop: \e9e8;
$md_ic_dashboard: \e9e9;
$md_ic_data_usage: \e9ea;
$md_ic_date_range: \e9eb;
$md_ic_dehaze: \e9ec;
$md_ic_delete_forever: \e9ed;
$md_ic_delete_sweep: \e9ee;
$md_ic_delete: \e9ef;
$md_ic_description: \e9f0;
$md_ic_desktop_mac: \e9f1;
$md_ic_desktop_windows: \e9f2;
$md_ic_details: \e9f3;
$md_ic_developer_board: \e9f4;
$md_ic_developer_mode: \e9f5;
$md_ic_devices_other: \e9f6;
$md_ic_devices: \e9f7;
$md_ic_dialer_sip: \e9f8;
$md_ic_dialpad: \e9f9;
$md_ic_directions_bike: \e9fa;
$md_ic_directions_boat: \e9fb;
$md_ic_directions_bus: \e9fc;
$md_ic_directions_car: \e9fd;
$md_ic_directions_railway: \e9fe;
$md_ic_directions_run: \e9ff;
$md_ic_directions_subway: \ea00;
$md_ic_directions_transit: \ea01;
$md_ic_directions_walk: \ea02;
$md_ic_directions: \ea03;
$md_ic_disc_full: \ea04;
$md_ic_dns: \ea05;
$md_ic_do_not_disturb_alt: \ea06;
$md_ic_do_not_disturb_off: \ea07;
$md_ic_do_not_disturb_on: \ea08;
$md_ic_do_not_disturb: \ea09;
$md_ic_dock: \ea0a;
$md_ic_domain: \ea0b;
$md_ic_done_all: \ea0c;
$md_ic_done: \ea0d;
$md_ic_donut_large: \ea0e;
$md_ic_donut_small: \ea0f;
$md_ic_drafts: \ea10;
$md_ic_drag_handle: \ea11;
$md_ic_drive_eta: \ea12;
$md_ic_dvr: \ea13;
$md_ic_edit_location: \ea14;
$md_ic_edit: \ea15;
$md_ic_email: \ea16;
$md_ic_enhanced_encryption: \ea17;
$md_ic_equalizer: \ea18;
$md_ic_error_outline: \ea19;
$md_ic_error: \ea1a;
$md_ic_euro_symbol: \ea1b;
$md_ic_ev_station: \ea1c;
$md_ic_event_available: \ea1d;
$md_ic_event_busy: \ea1e;
$md_ic_event_note: \ea1f;
$md_ic_event_seat: \ea20;
$md_ic_event: \ea21;
$md_ic_exit_to_app: \ea22;
$md_ic_expand_less: \ea23;
$md_ic_expand_more: \ea24;
$md_ic_explicit: \ea25;
$md_ic_explore: \ea26;
$md_ic_exposure_neg_1: \ea27;
$md_ic_exposure_neg_2: \ea28;
$md_ic_exposure_plus_1: \ea29;
$md_ic_exposure_plus_2: \ea2a;
$md_ic_exposure_zero: \ea2b;
$md_ic_exposure: \ea2c;
$md_ic_extension: \ea2d;
$md_ic_face: \ea2e;
$md_ic_fast_forward: \ea2f;
$md_ic_fast_rewind: \ea30;
$md_ic_favorite_border: \ea31;
$md_ic_favorite: \ea32;
$md_ic_featured_play_list: \ea33;
$md_ic_featured_video: \ea34;
$md_ic_feedback: \ea35;
$md_ic_fiber_dvr: \ea36;
$md_ic_fiber_manual_record: \ea37;
$md_ic_fiber_new: \ea38;
$md_ic_fiber_pin: \ea39;
$md_ic_fiber_smart_record: \ea3a;
$md_ic_file_download: \ea3b;
$md_ic_file_upload: \ea3c;
$md_ic_filter_1: \ea3d;
$md_ic_filter_2: \ea3e;
$md_ic_filter_3: \ea3f;
$md_ic_filter_4: \ea40;
$md_ic_filter_5: \ea41;
$md_ic_filter_6: \ea42;
$md_ic_filter_7: \ea43;
$md_ic_filter_8: \ea44;
$md_ic_filter_9_plus: \ea45;
$md_ic_filter_9: \ea46;
$md_ic_filter_b_and_w: \ea47;
$md_ic_filter_center_focus: \ea48;
$md_ic_filter_drama: \ea49;
$md_ic_filter_frames: \ea4a;
$md_ic_filter_hdr: \ea4b;
$md_ic_filter_list: \ea4c;
$md_ic_filter_none: \ea4d;
$md_ic_filter_tilt_shift: \ea4e;
$md_ic_filter_vintage: \ea4f;
$md_ic_filter: \ea50;
$md_ic_find_in_page: \ea51;
$md_ic_find_replace: \ea52;
$md_ic_fingerprint: \ea53;
$md_ic_first_page: \ea54;
$md_ic_fitness_center: \ea55;
$md_ic_flag: \ea56;
$md_ic_flare: \ea57;
$md_ic_flash_auto: \ea58;
$md_ic_flash_off: \ea59;
$md_ic_flash_on: \ea5a;
$md_ic_flight_land: \ea5b;
$md_ic_flight_takeoff: \ea5c;
$md_ic_flight: \ea5d;
$md_ic_flip_to_back: \ea5e;
$md_ic_flip_to_front: \ea5f;
$md_ic_flip: \ea60;
$md_ic_folder_open: \ea61;
$md_ic_folder_shared: \ea62;
$md_ic_folder_special: \ea63;
$md_ic_folder: \ea64;
$md_ic_format_align_center: \ea65;
$md_ic_format_align_justify: \ea66;
$md_ic_format_align_left: \ea67;
$md_ic_format_align_right: \ea68;
$md_ic_format_bold: \ea69;
$md_ic_format_clear: \ea6a;
$md_ic_format_color_fill-path1: \ea6b;
$md_ic_format_color_fill-path2: \ea6c;
$md_ic_format_color_reset: \ea6d;
$md_ic_format_color_text-path1: \ea6e;
$md_ic_format_color_text-path2: \ea6f;
$md_ic_format_indent_decrease: \ea70;
$md_ic_format_indent_increase: \ea71;
$md_ic_format_italic: \ea72;
$md_ic_format_line_spacing: \ea73;
$md_ic_format_list_bulleted: \ea74;
$md_ic_format_list_numbered: \ea75;
$md_ic_format_paint: \ea76;
$md_ic_format_quote: \ea77;
$md_ic_format_shapes: \ea78;
$md_ic_format_size: \ea79;
$md_ic_format_strikethrough: \ea7a;
$md_ic_format_textdirection_l_to_r: \ea7b;
$md_ic_format_textdirection_r_to_l: \ea7c;
$md_ic_format_underlined: \ea7d;
$md_ic_forum: \ea7e;
$md_ic_forward_5: \ea7f;
$md_ic_forward_10: \ea80;
$md_ic_forward_30: \ea81;
$md_ic_forward: \ea82;
$md_ic_free_breakfast: \ea83;
$md_ic_fullscreen_exit: \ea84;
$md_ic_fullscreen: \ea85;
$md_ic_functions: \ea86;
$md_ic_g_translate: \ea87;
$md_ic_gamepad: \ea88;
$md_ic_games: \ea89;
$md_ic_gavel: \ea8a;
$md_ic_gesture: \ea8b;
$md_ic_get_app: \ea8c;
$md_ic_golf_course: \ea8d;
$md_ic_gps_fixed: \ea8e;
$md_ic_gps_not_fixed: \ea8f;
$md_ic_gps_off: \ea90;
$md_ic_grade: \ea91;
$md_ic_gradient: \ea92;
$md_ic_grain: \ea93;
$md_ic_graphic_eq: \ea94;
$md_ic_grid_off: \ea95;
$md_ic_grid_on: \ea96;
$md_ic_group_add: \ea97;
$md_ic_group_work: \ea98;
$md_ic_group: \ea99;
$md_ic_hdr_off: \ea9a;
$md_ic_hdr_on: \ea9b;
$md_ic_hdr_strong: \ea9c;
$md_ic_hdr_weak: \ea9d;
$md_ic_headset_mic: \ea9e;
$md_ic_headset: \ea9f;
$md_ic_healing: \eaa0;
$md_ic_hearing: \eaa1;
$md_ic_help: \eaa2;
$md_ic_high_quality: \eaa3;
$md_ic_highlight_off: \eaa4;
$md_ic_highlight: \eaa5;
$md_ic_history: \eaa6;
$md_ic_home: \eaa7;
$md_ic_hot_tub: \eaa8;
$md_ic_hotel: \eaa9;
$md_ic_hourglass_empty: \eaaa;
$md_ic_hourglass_full: \eaab;
$md_ic_http: \eaac;
$md_ic_https: \eaad;
$md_ic_image_aspect_ratio: \eaae;
$md_ic_image: \eaaf;
$md_ic_import_contacts: \eab0;
$md_ic_import_export: \eab1;
$md_ic_important_devices: \eab2;
$md_ic_inbox: \eab3;
$md_ic_info_outline: \eab4;
$md_ic_info: \eab5;
$md_ic_input: \eab6;
$md_ic_insert_chart: \eab7;
$md_ic_insert_comment: \eab8;
$md_ic_insert_drive_file: \eab9;
$md_ic_insert_emoticon: \eaba;
$md_ic_insert_invitation: \eabb;
$md_ic_insert_link: \eabc;
$md_ic_insert_photo: \eabd;
$md_ic_invert_colors_off: \eabe;
$md_ic_invert_colors: \eabf;
$md_ic_iso: \eac0;
$md_ic_keyboard_arrow_down: \eac1;
$md_ic_keyboard_arrow_left: \eac2;
$md_ic_keyboard_arrow_right: \eac3;
$md_ic_keyboard_arrow_up: \eac4;
$md_ic_keyboard_backspace: \eac5;
$md_ic_keyboard_capslock: \eac6;
$md_ic_keyboard_hide: \eac7;
$md_ic_keyboard_return: \eac8;
$md_ic_keyboard_tab: \eac9;
$md_ic_keyboard_voice: \eaca;
$md_ic_keyboard: \eacb;
$md_ic_kitchen: \eacc;
$md_ic_label_outline: \eacd;
$md_ic_label: \eace;
$md_ic_landscape: \eacf;
$md_ic_language: \ead0;
$md_ic_laptop_chromebook: \ead1;
$md_ic_laptop_mac: \ead2;
$md_ic_laptop_windows: \ead3;
$md_ic_laptop: \ead4;
$md_ic_last_page: \ead5;
$md_ic_launch: \ead6;
$md_ic_layers_clear: \ead7;
$md_ic_layers: \ead8;
$md_ic_leak_add: \ead9;
$md_ic_leak_remove: \eada;
$md_ic_lens: \eadb;
$md_ic_library_add: \eadc;
$md_ic_library_books: \eadd;
$md_ic_library_music: \eade;
$md_ic_lightbulb_outline: \eadf;
$md_ic_line_style: \eae0;
$md_ic_line_weight: \eae1;
$md_ic_linear_scale: \eae2;
$md_ic_link: \eae3;
$md_ic_linked_camera: \eae4;
$md_ic_list: \eae5;
$md_ic_live_help: \eae6;
$md_ic_live_tv: \eae7;
$md_ic_local_activity: \eae8;
$md_ic_local_airport: \eae9;
$md_ic_local_atm: \eaea;
$md_ic_local_bar: \eaeb;
$md_ic_local_cafe: \eaec;
$md_ic_local_car_wash: \eaed;
$md_ic_local_convenience_store: \eaee;
$md_ic_local_dining: \eaef;
$md_ic_local_drink: \eaf0;
$md_ic_local_florist: \eaf1;
$md_ic_local_gas_station: \eaf2;
$md_ic_local_grocery_store: \eaf3;
$md_ic_local_hospital: \eaf4;
$md_ic_local_hotel: \eaf5;
$md_ic_local_laundry_service: \eaf6;
$md_ic_local_library: \eaf7;
$md_ic_local_mall: \eaf8;
$md_ic_local_movies: \eaf9;
$md_ic_local_offer: \eafa;
$md_ic_local_parking: \eafb;
$md_ic_local_pharmacy: \eafc;
$md_ic_local_phone: \eafd;
$md_ic_local_pizza: \eafe;
$md_ic_local_play: \eaff;
$md_ic_local_post_office: \eb00;
$md_ic_local_printshop: \eb01;
$md_ic_local_see: \eb02;
$md_ic_local_shipping: \eb03;
$md_ic_local_taxi: \eb04;
$md_ic_location_city: \eb05;
$md_ic_location_disabled: \eb06;
$md_ic_location_off: \eb07;
$md_ic_location_on: \eb08;
$md_ic_location_searching: \eb09;
$md_ic_lock_open: \eb0a;
$md_ic_lock_outline: \eb0b;
$md_ic_lock: \eb0c;
$md_ic_looks_3: \eb0d;
$md_ic_looks_4: \eb0e;
$md_ic_looks_5: \eb0f;
$md_ic_looks_6: \eb10;
$md_ic_looks_one: \eb11;
$md_ic_looks_two: \eb12;
$md_ic_looks: \eb13;
$md_ic_loop: \eb14;
$md_ic_loupe: \eb15;
$md_ic_low_priority: \eb16;
$md_ic_loyalty: \eb17;
$md_ic_mail_outline: \eb18;
$md_ic_mail: \eb19;
$md_ic_map: \eb1a;
$md_ic_markunread_mailbox: \eb1b;
$md_ic_markunread: \eb1c;
$md_ic_memory: \eb1d;
$md_ic_menu: \eb1e;
$md_ic_merge_type: \eb1f;
$md_ic_message: \eb20;
$md_ic_mic_none: \eb21;
$md_ic_mic_off: \eb22;
$md_ic_mic: \eb23;
$md_ic_mms: \eb24;
$md_ic_mode_comment: \eb25;
$md_ic_mode_edit: \eb26;
$md_ic_monetization_on: \eb27;
$md_ic_monochrome_photos: \eb28;
$md_ic_mood_bad: \eb29;
$md_ic_mood: \eb2a;
$md_ic_more_horiz: \eb2b;
$md_ic_more_vert: \eb2c;
$md_ic_more: \eb2d;
$md_ic_motorcycle: \eb2e;
$md_ic_mouse: \eb2f;
$md_ic_move_to_inbox: \eb30;
$md_ic_movie_creation: \eb31;
$md_ic_movie_filter: \eb32;
$md_ic_movie: \eb33;
$md_ic_multiline_chart: \eb34;
$md_ic_music_note: \eb35;
$md_ic_music_video: \eb36;
$md_ic_my_location: \eb37;
$md_ic_nature_people: \eb38;
$md_ic_nature: \eb39;
$md_ic_navigate_before: \eb3a;
$md_ic_navigate_next: \eb3b;
$md_ic_navigation: \eb3c;
$md_ic_near_me: \eb3d;
$md_ic_network_cell-path1: \eb3e;
$md_ic_network_cell-path2: \eb3f;
$md_ic_network_check: \eb40;
$md_ic_network_locked: \eb41;
$md_ic_network_wifi-path1: \eb42;
$md_ic_network_wifi-path2: \eb43;
$md_ic_new_releases: \eb44;
$md_ic_next_week: \eb45;
$md_ic_nfc: \eb46;
$md_ic_no_encryption: \eb47;
$md_ic_no_sim: \eb48;
$md_ic_not_interested: \eb49;
$md_ic_note_add: \eb4a;
$md_ic_note: \eb4b;
$md_ic_notifications_active: \eb4c;
$md_ic_notifications_none: \eb4d;
$md_ic_notifications_off: \eb4e;
$md_ic_notifications_paused: \eb4f;
$md_ic_notifications: \eb50;
$md_ic_ondemand_video: \eb51;
$md_ic_opacity: \eb52;
$md_ic_open_in_browser: \eb53;
$md_ic_open_in_new: \eb54;
$md_ic_open_with: \eb55;
$md_ic_pages: \eb56;
$md_ic_pageview: \eb57;
$md_ic_palette: \eb58;
$md_ic_pan_tool: \eb59;
$md_ic_panorama_fish_eye: \eb5a;
$md_ic_panorama_horizontal: \eb5b;
$md_ic_panorama_vertical: \eb5c;
$md_ic_panorama_wide_angle: \eb5d;
$md_ic_panorama: \eb5e;
$md_ic_party_mode: \eb5f;
$md_ic_pause_circle_filled: \eb60;
$md_ic_pause_circle_outline: \eb61;
$md_ic_pause: \eb62;
$md_ic_payment: \eb63;
$md_ic_people_outline: \eb64;
$md_ic_people: \eb65;
$md_ic_perm_camera_mic: \eb66;
$md_ic_perm_contact_calendar: \eb67;
$md_ic_perm_data_setting: \eb68;
$md_ic_perm_device_information: \eb69;
$md_ic_perm_identity: \eb6a;
$md_ic_perm_media: \eb6b;
$md_ic_perm_phone_msg: \eb6c;
$md_ic_perm_scan_wifi: \eb6d;
$md_ic_person_add: \eb6e;
$md_ic_person_outline: \eb6f;
$md_ic_person_pin_circle: \eb70;
$md_ic_person_pin: \eb71;
$md_ic_person: \eb72;
$md_ic_personal_video: \eb73;
$md_ic_pets: \eb74;
$md_ic_phone_android: \eb75;
$md_ic_phone_bluetooth_speaker: \eb76;
$md_ic_phone_forwarded: \eb77;
$md_ic_phone_in_talk: \eb78;
$md_ic_phone_iphone: \eb79;
$md_ic_phone_locked: \eb7a;
$md_ic_phone_missed: \eb7b;
$md_ic_phone_paused: \eb7c;
$md_ic_phone: \eb7d;
$md_ic_phonelink_off: \eb7e;
$md_ic_phonelink: \eb7f;
$md_ic_photo_album: \eb80;
$md_ic_photo_camera: \eb81;
$md_ic_photo_filter: \eb82;
$md_ic_photo_library: \eb83;
$md_ic_photo: \eb84;
$md_ic_picture_as_pdf: \eb85;
$md_ic_picture_in_picture_alt: \eb86;
$md_ic_picture_in_picture: \eb87;
$md_ic_pie_chart_outlined: \eb88;
$md_ic_pie_chart: \eb89;
$md_ic_pin_drop: \eb8a;
$md_ic_place: \eb8b;
$md_ic_play_arrow: \eb8c;
$md_ic_play_circle_filled_white: \eb8d;
$md_ic_play_circle_filled: \eb8e;
$md_ic_play_circle_outline: \eb8f;
$md_ic_play_for_work: \eb90;
$md_ic_playlist_add_check: \eb91;
$md_ic_playlist_add: \eb92;
$md_ic_playlist_play: \eb93;
$md_ic_plus_one: \eb94;
$md_ic_poll: \eb95;
$md_ic_polymer: \eb96;
$md_ic_pool: \eb97;
$md_ic_portable_wifi_off: \eb98;
$md_ic_portrait: \eb99;
$md_ic_power_input: \eb9a;
$md_ic_power_settings_new: \eb9b;
$md_ic_power: \eb9c;
$md_ic_pregnant_woman: \eb9d;
$md_ic_present_to_all: \eb9e;
$md_ic_print: \eb9f;
$md_ic_priority_high: \eba0;
$md_ic_public: \eba1;
$md_ic_publish: \eba2;
$md_ic_query_builder: \eba3;
$md_ic_question_answer: \eba4;
$md_ic_queue_music: \eba5;
$md_ic_queue_play_next: \eba6;
$md_ic_queue: \eba7;
$md_ic_radio_button_checked: \eba8;
$md_ic_radio_button_unchecked: \eba9;
$md_ic_radio: \ebaa;
$md_ic_rate_review: \ebab;
$md_ic_receipt: \ebac;
$md_ic_recent_actors: \ebad;
$md_ic_record_voice_over: \ebae;
$md_ic_redeem: \ebaf;
$md_ic_redo: \ebb0;
$md_ic_refresh: \ebb1;
$md_ic_remove_circle_outline: \ebb2;
$md_ic_remove_circle: \ebb3;
$md_ic_remove_from_queue: \ebb4;
$md_ic_remove_red_eye: \ebb5;
$md_ic_remove_shopping_cart: \ebb6;
$md_ic_remove: \ebb7;
$md_ic_repeat_one: \ebb8;
$md_ic_repeat: \ebb9;
$md_ic_replay_5: \ebba;
$md_ic_replay_10: \ebbb;
$md_ic_replay_30: \ebbc;
$md_ic_replay: \ebbd;
$md_ic_reply_all: \ebbe;
$md_ic_reply: \ebbf;
$md_ic_report_problem: \ebc0;
$md_ic_report: \ebc1;
$md_ic_restaurant_menu: \ebc2;
$md_ic_restaurant: \ebc3;
$md_ic_restore_page: \ebc4;
$md_ic_restore: \ebc5;
$md_ic_ring_volume: \ebc6;
$md_ic_room_service: \ebc7;
$md_ic_room: \ebc8;
$md_ic_rotate_90_degrees_ccw: \ebc9;
$md_ic_rotate_left: \ebca;
$md_ic_rotate_right: \ebcb;
$md_ic_rounded_corner: \ebcc;
$md_ic_router: \ebcd;
$md_ic_rowing: \ebce;
$md_ic_rss_feed: \ebcf;
$md_ic_rv_hookup: \ebd0;
$md_ic_satellite: \ebd1;
$md_ic_save: \ebd2;
$md_ic_scanner-path1: \ebd3;
$md_ic_scanner-path2: \ebd4;
$md_ic_schedule: \ebd5;
$md_ic_school: \ebd6;
$md_ic_screen_lock_landscape: \ebd7;
$md_ic_screen_lock_portrait: \ebd8;
$md_ic_screen_lock_rotation: \ebd9;
$md_ic_screen_rotation: \ebda;
$md_ic_screen_share: \ebdb;
$md_ic_sd_card: \ebdc;
$md_ic_sd_storage: \ebdd;
$md_ic_search: \ebde;
$md_ic_security: \ebdf;
$md_ic_select_all: \ebe0;
$md_ic_send: \ebe1;
$md_ic_sentiment_dissatisfied: \ebe2;
$md_ic_sentiment_neutral: \ebe3;
$md_ic_sentiment_satisfied: \ebe4;
$md_ic_sentiment_very_dissatisfied: \ebe5;
$md_ic_sentiment_very_satisfied: \ebe6;
$md_ic_settings_applications: \ebe7;
$md_ic_settings_backup_restore: \ebe8;
$md_ic_settings_bluetooth: \ebe9;
$md_ic_settings_brightness: \ebea;
$md_ic_settings_cell: \ebeb;
$md_ic_settings_ethernet: \ebec;
$md_ic_settings_input_antenna: \ebed;
$md_ic_settings_input_component: \ebee;
$md_ic_settings_input_composite: \ebef;
$md_ic_settings_input_hdmi: \ebf0;
$md_ic_settings_input_svideo: \ebf1;
$md_ic_settings_overscan: \ebf2;
$md_ic_settings_phone: \ebf3;
$md_ic_settings_power: \ebf4;
$md_ic_settings_remote: \ebf5;
$md_ic_settings_system_daydream: \ebf6;
$md_ic_settings_voice: \ebf7;
$md_ic_settings: \ebf8;
$md_ic_share: \ebf9;
$md_ic_shop_two: \ebfa;
$md_ic_shop: \ebfb;
$md_ic_shopping_basket: \ebfc;
$md_ic_shopping_cart: \ebfd;
$md_ic_short_text: \ebfe;
$md_ic_show_chart: \ebff;
$md_ic_shuffle: \ec00;
$md_ic_signal_cellular_0_bar: \ec01;
$md_ic_signal_cellular_1_bar-path1: \ec02;
$md_ic_signal_cellular_1_bar-path2: \ec03;
$md_ic_signal_cellular_2_bar-path1: \ec04;
$md_ic_signal_cellular_2_bar-path2: \ec05;
$md_ic_signal_cellular_3_bar-path1: \ec06;
$md_ic_signal_cellular_3_bar-path2: \ec07;
$md_ic_signal_cellular_4_bar: \ec08;
$md_ic_signal_cellular_connected_no_internet_0_bar-path1: \ec09;
$md_ic_signal_cellular_connected_no_internet_0_bar-path2: \ec0a;
$md_ic_signal_cellular_connected_no_internet_1_bar-path1: \ec0b;
$md_ic_signal_cellular_connected_no_internet_1_bar-path2: \ec0c;
$md_ic_signal_cellular_connected_no_internet_2_bar-path1: \ec0d;
$md_ic_signal_cellular_connected_no_internet_2_bar-path2: \ec0e;
$md_ic_signal_cellular_connected_no_internet_3_bar-path1: \ec0f;
$md_ic_signal_cellular_connected_no_internet_3_bar-path2: \ec10;
$md_ic_signal_cellular_connected_no_internet_4_bar: \ec11;
$md_ic_signal_cellular_no_sim: \ec12;
$md_ic_signal_cellular_null: \ec13;
$md_ic_signal_cellular_off: \ec14;
$md_ic_signal_wifi_0_bar: \ec15;
$md_ic_signal_wifi_1_bar_lock-path1: \ec16;
$md_ic_signal_wifi_1_bar_lock-path2: \ec17;
$md_ic_signal_wifi_1_bar-path1: \ec18;
$md_ic_signal_wifi_1_bar-path2: \ec19;
$md_ic_signal_wifi_2_bar_lock-path1: \ec1a;
$md_ic_signal_wifi_2_bar_lock-path2: \ec1b;
$md_ic_signal_wifi_2_bar-path1: \ec1c;
$md_ic_signal_wifi_2_bar-path2: \ec1d;
$md_ic_signal_wifi_3_bar_lock-path1: \ec1e;
$md_ic_signal_wifi_3_bar_lock-path2: \ec1f;
$md_ic_signal_wifi_3_bar-path1: \ec20;
$md_ic_signal_wifi_3_bar-path2: \ec21;
$md_ic_signal_wifi_4_bar_lock: \ec22;
$md_ic_signal_wifi_4_bar: \ec23;
$md_ic_signal_wifi_off: \ec24;
$md_ic_sim_card_alert: \ec25;
$md_ic_sim_card: \ec26;
$md_ic_skip_next: \ec27;
$md_ic_skip_previous: \ec28;
$md_ic_slideshow: \ec29;
$md_ic_slow_motion_video: \ec2a;
$md_ic_smartphone: \ec2b;
$md_ic_smoke_free: \ec2c;
$md_ic_smoking_rooms: \ec2d;
$md_ic_sms_failed: \ec2e;
$md_ic_sms: \ec2f;
$md_ic_snooze: \ec30;
$md_ic_sort: \ec31;
$md_ic_spa-path1: \ec32;
$md_ic_spa-path2: \ec33;
$md_ic_space_bar: \ec34;
$md_ic_speaker_group: \ec35;
$md_ic_speaker_notes_off: \ec36;
$md_ic_speaker_notes: \ec37;
$md_ic_speaker_phone: \ec38;
$md_ic_speaker: \ec39;
$md_ic_spellcheck: \ec3a;
$md_ic_star_half: \ec3b;
$md_ic_stars: \ec3c;
$md_ic_stay_current_landscape: \ec3d;
$md_ic_stay_current_portrait: \ec3e;
$md_ic_stay_primary_landscape: \ec3f;
$md_ic_stay_primary_portrait: \ec40;
$md_ic_stop_screen_share: \ec41;
$md_ic_stop: \ec42;
$md_ic_storage: \ec43;
$md_ic_store_mall_directory: \ec44;
$md_ic_store: \ec45;
$md_ic_straighten: \ec46;
$md_ic_streetview: \ec47;
$md_ic_strikethrough_s: \ec48;
$md_ic_style: \ec49;
$md_ic_subdirectory_arrow_left: \ec4a;
$md_ic_subdirectory_arrow_right: \ec4b;
$md_ic_subject: \ec4c;
$md_ic_subscriptions: \ec4d;
$md_ic_subtitles: \ec4e;
$md_ic_subway: \ec4f;
$md_ic_supervisor_account: \ec50;
$md_ic_surround_sound: \ec51;
$md_ic_swap_calls: \ec52;
$md_ic_swap_horiz: \ec53;
$md_ic_swap_vert: \ec54;
$md_ic_swap_vertical_circle: \ec55;
$md_ic_switch_camera: \ec56;
$md_ic_switch_video: \ec57;
$md_ic_sync_disabled: \ec58;
$md_ic_sync_problem: \ec59;
$md_ic_sync: \ec5a;
$md_ic_system_update_alt: \ec5b;
$md_ic_system_update: \ec5c;
$md_ic_tab_unselected: \ec5d;
$md_ic_tab: \ec5e;
$md_ic_tablet_android: \ec5f;
$md_ic_tablet_mac: \ec60;
$md_ic_tablet: \ec61;
$md_ic_tag_faces: \ec62;
$md_ic_tap_and_play: \ec63;
$md_ic_terrain: \ec64;
$md_ic_text_fields: \ec65;
$md_ic_text_format: \ec66;
$md_ic_textsms: \ec67;
$md_ic_texture: \ec68;
$md_ic_theaters: \ec69;
$md_ic_thumb_down: \ec6a;
$md_ic_thumb_up: \ec6b;
$md_ic_thumbs_up_down: \ec6c;
$md_ic_time_to_leave: \ec6d;
$md_ic_timelapse: \ec6e;
$md_ic_timeline: \ec6f;
$md_ic_timer_3: \ec70;
$md_ic_timer_10: \ec71;
$md_ic_timer_off: \ec72;
$md_ic_timer: \ec73;
$md_ic_title: \ec74;
$md_ic_toc: \ec75;
$md_ic_today: \ec76;
$md_ic_toll: \ec77;
$md_ic_tonality: \ec78;
$md_ic_touch_app: \ec79;
$md_ic_toys: \ec7a;
$md_ic_track_changes: \ec7b;
$md_ic_traffic: \ec7c;
$md_ic_train: \ec7d;
$md_ic_tram: \ec7e;
$md_ic_transfer_within_a_station: \ec7f;
$md_ic_transform: \ec80;
$md_ic_translate: \ec81;
$md_ic_trending_down: \ec82;
$md_ic_trending_flat: \ec83;
$md_ic_trending_up: \ec84;
$md_ic_tune: \ec85;
$md_ic_turned_in_not: \ec86;
$md_ic_turned_in: \ec87;
$md_ic_tv: \ec88;
$md_ic_unarchive: \ec89;
$md_ic_undo: \ec8a;
$md_ic_unfold_less: \ec8b;
$md_ic_unfold_more: \ec8c;
$md_ic_update: \ec8d;
$md_ic_usb: \ec8e;
$md_ic_verified_user: \ec8f;
$md_ic_vertical_align_bottom: \ec90;
$md_ic_vertical_align_center: \ec91;
$md_ic_vertical_align_top: \ec92;
$md_ic_vibration: \ec93;
$md_ic_video_call: \ec94;
$md_ic_video_label: \ec95;
$md_ic_video_library: \ec96;
$md_ic_videocam_off: \ec97;
$md_ic_videocam: \ec98;
$md_ic_videogame_asset: \ec99;
$md_ic_view_agenda: \ec9a;
$md_ic_view_array: \ec9b;
$md_ic_view_carousel: \ec9c;
$md_ic_view_column: \ec9d;
$md_ic_view_comfy: \ec9e;
$md_ic_view_compact: \ec9f;
$md_ic_view_day: \eca0;
$md_ic_view_headline: \eca1;
$md_ic_view_list: \eca2;
$md_ic_view_module: \eca3;
$md_ic_view_quilt: \eca4;
$md_ic_view_stream: \eca5;
$md_ic_view_week: \eca6;
$md_ic_visibility_off: \eca7;
$md_ic_visibility: \eca8;
$md_ic_voice_chat: \eca9;
$md_ic_voicemail: \ecaa;
$md_ic_volume_down: \ecab;
$md_ic_volume_mute: \ecac;
$md_ic_volume_off: \ecad;
$md_ic_volume_up: \ecae;
$md_ic_vpn_key: \ecaf;
$md_ic_vpn_lock: \ecb0;
$md_ic_wallpaper: \ecb1;
$md_ic_warning: \ecb2;
$md_ic_watch_later: \ecb3;
$md_ic_watch: \ecb4;
$md_ic_wb_auto: \ecb5;
$md_ic_wb_cloudy: \ecb6;
$md_ic_wb_incandescent: \ecb7;
$md_ic_wb_iridescent: \ecb8;
$md_ic_wb_sunny: \ecb9;
$md_ic_wc: \ecba;
$md_ic_web_asset: \ecbb;
$md_ic_web: \ecbc;
$md_ic_weekend: \ecbd;
$md_ic_whatshot: \ecbe;
$md_ic_widgets: \ecbf;
$md_ic_wifi_lock: \ecc0;
$md_ic_wifi_tethering: \ecc1;
$md_ic_wifi: \ecc2;
$md_ic_work: \ecc3;
$md_ic_wrap_text: \ecc4;
$md_ic_youtube_searched_for: \ecc5;
$md_ic_zoom_out_map: \ecc6;

